    <form class="ajax" method="post" action="/app/SaveScenario/">
        <h4>{{ filename }}</h4>
        <div id="file_actions" class="buttonHolder">
            {% spaceless %}

                <a href="#" class="delete-button ajax-post pull-right" title="delete" data-delete-link="/app/DeleteFile/{{ file }}/"></a>
                <a href="/app/Copy/{{ file }}/" class="copy-button pull-right" title="duplicate" ></a>
            {% endspaceless %}
        </div>
        {% if unsaved_changes %}
            <p>Thie file contains unsaved changes.  <a id="save_scenario" type="submit" class="action_link">Save</a> changes?</p>
        {% endif %}
        {% if failure_message %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error:</strong> {{ failure_message }}
            </div>
        {% endif %}
        {% if success_message %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Success!</strong> {{ success_message }}
            </div>
        {% endif %}
    </form>