{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}PRS Web Portal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PRS Web Portal">
    <meta name="author" content="Newline Technical Innovations">

    <!-- styles -->
    {% stylesheet 'adsm_css' %}

  </head>
  <body>

    {% block content %}{% endblock %}

    <!-- JavaScript scripts -->

    {% javascript 'adsm_react_js' %}
  </body>
</html>