{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}ADSM React Example{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ADSM React Example">
    <meta name="author" content="Newline Technical Innovations">
</head>
<body>
{% block content %}
    <div id="content"> </div>
    {% render_bundle 'commons.js' %}
    {% render_bundle 'adsmReact' %}
{% endblock %}
</body>
</html>