CherryPy==3.6.0
git+https://github.com/BryanHurst/django.git@stable/1.8.2-patched
Jinja2==2.7.3
MarkupSafe==0.23
django-crispy-forms==1.4.0
django-extras==0.3
django-floppyforms==1.2.0
futures==2.2.0
pyparsing==2.0.3
python-dateutil==2.3
pytz==2014.10
selenium==2.44.0
six==1.8.0
git+https://github.com/BryanHurst/django-productionserver.git@v1.0.5

numpy==1.9.1
matplotlib==1.4.2
pandas==0.15.2
pyproj==1.9.4
psutil==2.2.0

hg+https://bitbucket.org/BryanHurst/cx_freeze