CherryPy==3.6.0
git+https://github.com/BryanHurst/django.git@stable/1.8.2-patched
Jinja2==2.7.3
MarkupSafe==0.23
git+https://github.com/pyinstaller/pyinstaller.git@python3
hg+https://bitbucket.org/BryanHurst/cx_freeze
django-crispy-forms==1.5.1
django-extras==0.3
django-floppyforms==1.2.0
git+https://github.com/BryanHurst/django-productionserver.git@v1.0.5r5
futures==2.2.0
pyparsing==2.0.3
python-dateutil==2.3
pytz==2014.10
selenium==2.44.0
six==1.8.0