@import "../fonts/source-sans-pro/source-sans-pro.css";

/*:focus{
    outline: 2px solid rgba(99, 215, 253, .5);
    background-color:white;
}*/

.row {
    width: 100%;
}

a:focus{
    outline-offset:0;
}

.layout-panel a.active, .layout-panel select.active {
    border: solid red 1px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    box-sizing:border-box;
    padding-bottom: 50px;
}

h2, h2 a{
    font-size:15px;
    font-weight:600;
    color:inherit;
}

h3, h4 {
    font-size: 13px;
    font-weight: 400;
}


.panel-heading h1, .panel-heading h2, .panel-heading h3{
    margin: 0 0 5px 0;
}

section h1 {
    font-size: 18px;
    margin-left: -15px;
    font-weight:600;
}

section h1, section h2 {
    margin-bottom: 20px;
}

h3, h4 {
    font-weight: 400;
}

section h4 {
    font-size: 11pt;
}

a {
    color: #7cb9ff;
}

a:hover {
    color: #7cb9ff;
    /*with underline*/
}

a.wiki, a.wiki:visited {
    color: #B95E07;
}

.help-block {  
    font-weight: bold;
    display: block;
    height: auto;
    overflow: hidden; /* check boxes are bold from mixins.less and I think it looks better with definitions*/
}

.hide-help {
    height: 0;
}

.error-inline strong {  /* validation errors from the server */
    background-color: #D13737;
    color: white;
}

.icon {
    max-height: 20px;
    max-width: 20px;
}
section .icon{
    max-height: 16px;
}
/*-------------------------------------------------------------*/
/*-----header-----*/
/*-------------------------------------------------------------*/
header {
    position: fixed;
    z-index: 100;
    background-color: #606060;
    width: 100%;
    height: 70px;
    top: 0;
    min-width:1000px;
    color: white;
}
header:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

header a, header button {
    height: 35px;
    line-height: 35px;
}

header .btn, #header .btn {
    padding: 8px 10px 8px 10px;
}
header .buttonHolder {
    min-width: 256px;
}


header h1 {
    margin: 0 0px;
    font-size: 20pt;
    font-weight: 400;
    background:#606060;
    color:white;
}

header div {  
    /*width: 226px;  too generic*/
    overflow:auto;
    float: left;
}

header p {
    float: none;
}

header .filename {
    float: left;
    /*min-width: 540px;*/
    padding: 5px 20px;
}

.filename input {
    border: none;
}

.scenario-status p{
    display:none
}
.scenario-status p.unsaved {
    display:block;
}

header .buttonHolder{
    padding-top:8px;
}
header .buttonHolder .btn {
    background-color: transparent;
    transition: all .2s ease;
    color: rgba(255, 255, 255, .7);
    margin-left: 5px;
    height: 20px;
    padding: 0;
    margin-top: 0;
    color: rgba(255, 255, 255, .7);
    position: relative;
}
header #file_actions .icon{
    max-height: 14px;
    margin-right: 3px;
    margin-bottom: 2px;
    opacity:.7;
    transition: opacity .2s ease;
}
header #file_actions .btn {
    width: 78px;
}

header .admin .btn{
    padding-top: 1px !important;
}
header .buttonHolder .btn:first-child:after{
    content:"";
    width: 1px;
    height: 20px;
    display: block;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    top: 5px;
    right: -1px;
}
#file_actions .btn:first-child:after {
    top: 0px;
}

#file_actions .btn:last-child {
    height:30px;
    border:1px solid gray;
    background-color: #707070;
}

header .buttonHolder .btn:hover {
    color: rgba(255, 255, 255, 1);
}
#file_actions a:hover .icon {
    opacity: 1;
}

 #file_actions .btn:last-child:hover {
    background-color: #a8a8a8;
}

.loading_button {
    background: url("../working.gif") no-repeat center;
    background-color: #808080 !important;
    color: rgba(255, 255, 255, .2) !important;
    background-size: 38px;
    outline: 1px solid #909090;
    outline-offset: -1px;
}

body>nav {
    position: fixed;
    top: 69px;
    bottom: 0;
    left: 0;
    width: 175px;
}

/*#left-panel {*/
    /*margin-top: 44px;*/
    /*padding-top: 1px;*/
    /*margin-left: 280px;*/
    /*min-width:600px;*/
/*    padding-left: calc((100% - 1280px) / 2);*/
/*}*/

#main-panel {
    float:none;
}

.layout-panel {
    margin-top: 75px;
}

ul {
    padding-left: 5px; /*prevent style inheritance from above*/
}
/*-------------------------------------------------------------*/
/*-----TOOLBAR-----*/
/*-------------------------------------------------------------*/
#toolbar {
    position: fixed;
    top: 75px;
    right: 0px;
    background-color: white;
}
.TB_btn {
    width: 50px;
    height: 50px;
    display: block;
    opacity: .5;
    background-repeat: no-repeat;
    transition: opacity .2s ease;
    position: relative;
}
.TB_btn:hover {
    opacity: 1;
}
.TB_btn.active {
    background-color: transparent;
    box-sizing: border-box;
    outline: 0;
    opacity: 1;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    border-bottom: 1px solid #cec7c0;
    border-top: 1px solid #cec7c0;
    transition: background-position-x .05s ease;
}
.TB_btn.active:before {
    content: "";
    width: 20px;
    height: 48px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.2)));
    position: absolute;
    top: 0;
    left: -10px;
}
.TB_btn.active:after {
    content: "";
    position: absolute;
    display: block;
    top: 8px;
    height: 34px;
    width: 50px;
    border-left: 1px solid #cdc7c0;
    border-top: 17px solid rgba(0, 0, 0, 0);
    border-bottom: 17px solid rgba(0, 0, 0, 0);
    opacity: .5;
}
.TB_btn.active:hover {
    background-position-x: 5px;
}

.TB_btn.active:hover::after {
    border-left: 10px solid #cdc7c0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    opacity: 1;
}
.TB_btn.disabled {
    opacity: .25;
    cursor: default;
}
.TB_btn.disabled:hover {
    cursor: default;
    opacity: 0.25;
}
#TB_file {
    background-image: url("../icons/TB_file_btn.png");
}
#TB_settings {
    background-image: url("../icons/TB_settings_btn.png");
}
#TB_population {
    background-image: url("../icons/TB_population_btn.png");
}
#TB_functions {
    background-image: url("../icons/TB_function_btn.png");
}
/*-------------------------------------------------------------*/
/*-----TOOLBAR panels-----*/
/*-------------------------------------------------------------*/
.layout-panel.TB_panel { /*needs to be more specific than the .layout-panel rule */
    position: fixed;
    right: 0;
    top:75px;
    margin-top: 0;
    margin-right: 50px;
    max-width: 460px;
    min-height: 200px;
    overflow-y: auto;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    border: 1px solid #cec7c0;
    padding: 0 15px 15px 15px; 
    max-height: calc(100vh - 120px);
    background-color: white;
    transition: margin-right .2s ease;
}
.TB_panel.TB_panel_closed {
    margin-right: calc(0px - 33.33vw);
}
.TB_panel_over { /*--floats panel over content for static page layouts--*/
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2), -5px 5px 5px -5px rgba(0, 0, 0, .3);
}
/*-------------------------------------------------------------*/
/*-----file panel-----*/
/*-------------------------------------------------------------*/
#file_panel, #file_panel #file_list a{
    background-color: #606060;
    color: rgb(236, 236, 236);
    padding: 1px;
}

.current {
    background-color: white;
    color: black;
    width: 100%;
}

#file_panel h2,
#file_panel form{
    padding-left: 10px;
    padding-right: 5px;
    margin: 0;
    font-weight: 100;
}

#file_panel h2 {
    color: rgb(216, 216, 216);
    line-height: 19px;
    border-bottom: 1px solid rgb(180, 180, 180);
}

/*#file_panel .buttonHolder {*/
    /*float: right;*/
/*}*/

/*-------------------------------------------------------------*/
/*-----settings panel-----*/
/*-------------------------------------------------------------*/
#settings_panel{}

/*-------------------------------------------------------------*/
/*-----population panel-----*/
/*-------------------------------------------------------------*/
#population_panel h2 {
    margin-top: 12px;
}
#population_panel ul {
    list-style-type: none;
    padding-left: 0;
}
#population_panel ul li {
    height: 27px;
    font-size: 13px;
    overflow:hidden;
    padding: 4px 0 0 10px;
}
#population_panel ul li:hover {
    background-color: #ebebeb;
    cursor: url("../icons/add_cursor.png"), auto;
}
#population_panel ul li:hover, #population_panel ul li a:hover {
    cursor: url("../icons/add_cursor.png"), auto;
}
#population_panel a:focus {
    background-color: transparent;
    border: none;
    outline: 0;
}
#population_panel ul li a, #population_panel ul li span:first-of-type {
    width: 25%;
    min-width: 95px;
    display: inline-block;
    padding-right: 10px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #606060;
    text-decoration: none;
}
/*-------------------------------------------------------------*/
/*-----functions panel-----*/
/*-------------------------------------------------------------*/
#functions {}
/*-------------------------------------------------------------*/
/*-----navigation menu-----*/
/*-------------------------------------------------------------*/
#setupMenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 54px;
    margin-top:5px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    direction: rtl;
}
#setupMenu-before {
    content:"";
    position: fixed;
    top: 75px;
    left: 0;
    display: block;
    width: 170px;
    height: 6px;
    z-index: 100;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
    visibility: hidden;
}
#setupMenu-after{
    content:"";
    position: fixed;
    top: calc(100vh - 72px);
    left: 0;
    display: block;
    width: 170px;
    height: 6px;
    z-index: 100;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
    visibility: hidden;
}

#setupMenu h2:first-child a{
    border-top:1px solid #eeeeee;
}

#setupMenu h2, #setupMenu h3, #setupMenu h4 {
    margin-top: 0;
    margin-bottom: 0; /* These are meant to stack */
    overflow: hidden;
    white-space: nowrap;
    position:relative;
    /*width:170px;*/
}

#setupMenu a {
    color: #606060;
    display:block;
    text-decoration: none;
    line-height: 35px;
    padding-left: 15px;
    transition:background-color .2s ease;
    width:170px;
    position:relative;
    margin-bottom:1px;
    margin-right: 5px;
    direction: ltr;
}

#setupMenu a:before {
    content:"";
    display:block;
    width:100%;
    height:1px;
    background-color:#eeeeee;
    position:absolute;
    bottom:-1px;
    left:-5px;
}

#setupMenu a:hover{
    background-color:#eeeeee;
}

#setupMenu a.active:hover{
    background-color:#606060;
}

#setupMenu h3 a, #setupMenu h4 a {
    padding-left:30px;
}

#setupMenu a.active {
    background-color: #606060;
    margin-left:0;
    color:white;
    font-weight:400;
    -webkit-border-radius:0 4px 4px 0;
    width:175px;
    margin-right: 0;
}

#setupMenu span {
    width: 5px;
    height: 35px;
    -webkit-border-radius:0 2px 2px 0;
}
/*--------- right border on results nav menu -----*/
#setupMenu h2:before,
#setupMenu h3:before,
#setupMenu h4:before {
    content: "";
    width: 5px;
    height: 37px;
    display: block;
    position: absolute;
    right: 5px;
    top: -1px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0 2px 2px 0;
}

#setupMenu .incomplete {
    font-weight: 600;
    font-style: italic;
    color: #999;
    background-color: #f6da40;
}

#setupMenu .completed, .completed {
    background-color: #68be5e;
}

#setupMenu .empty_subcategory {
    display: none;
}

#RunSimulationIn,
#RunSimulationRes {
    position: fixed !important;
    bottom: 10px;
    left: 0;
    width:  170px;
}
#RunSimulationIn a,
#RunSimulationRes a {
    margin-right: 0;
}
/*----------------------need to remove the glypicon element and make a left facing arrow with hook for results------*/
#RunSimulationRes a{
    color: rgba(255, 255, 255, .8);
}
#RunSimulationIn a:after {
    content: "";
    position: absolute;
    top: 17px;
    margin-left: 8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 11px solid #606060;
    transition: all .2s ease;
}
#RunSimulationIn a.incomplete:after {
    border-left: 11px solid #999;
}

#RunSimulationRes a:after {
    content: "";
    position: relative;
    float:left;
    top: 17px;
    margin-right: 10px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 11px solid rgba(255, 255, 255, .8);
    transition: all .2s ease;
}

#RunSimulationIn.incomplete,
#RunSimulationIn.incomplete:hover,
#RunSimulationIn a.incomplete:hover {
    background-color:#f6da40;
}

#RunSimulationIn.completed,
#RunSimulationIn.completed:hover,
#RunSimulationIn a.completed:hover {
    background-color:#68be5e;
}
#RunSimulationRes,
#RunSimulationRes:hover,
#RunSimulationRes a.completed,
#RunSimulationRes a.completed:hover {
    background-color: #3577b1;
}

#RunSimulationIn a,
#RunSimulationRes a {
    height: 50px;
    line-height: 50px;
    font-size:17px;
    font-style:italic;
    transition: color .2s ease;
}
#RunSimulationIn:hover a {
    color: black;
}
#RunSimulationRes:hover a {
    color: rgba(255, 255, 255, 1);
}
#RunSimulationIn:hover a:after{
    border-left: 11px solid black;
}
#RunSimulationRes:hover a:after{
    border-right: 11px solid rgba(255, 255, 255, 1);
}
#RunSimulationIn a.tall,
#RunSimulationRes a.tall {
    padding-top: 10px;
    height: 75px;
    line-height: 20px;
}

#RunSimulationIn a:before,
#RunSimulationRes a:before {
    display:none;
}
/*-------------------------------------------------------------*/
/*-----blocking overlay-----*/
/*-------------------------------------------------------------*/
.blocking-overlay {
    display:none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(255,255,255,0.6);
    box-shadow: inset 0 0 25px #888;
}
.overlay-content {
    text-align: center;
    margin-top:calc(45vh - 50px);
    color: #666;
    text-shadow: 1px 1px 1px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.overlay-content img {
    height: 30px;
    margin-left:-14px;
}
/*-------------------------------------------------------------*/
/*-----button stuff-----*/
/*-------------------------------------------------------------*/
.btn {
    font-style: italic;
    margin: 3px 1px 0px 1px;
    color: #ffffff;
    border-radius: 0;
    border: 0px;
    transition: all .2s ease;
}

.btn-add {
    background: none;
    padding: 0 0 6px 3px;
    border-width: 0;
    color: #007700;
    vertical-align: middle;
    margin: 8px 0;
}

.btn-default, .btn-default:hover, .btn-default:focus {
    background-color: white;
    color: #606060;
    outline: 1px solid #606060;
    outline-offset: -1px;
}
.btn-default:hover, .btn-default:focus {
    background: #ebebeb;
    outline: 1px solid #898989;
}

.btn-primary,
.btn-unsaved {
    background-color: #3577b1;
    transition: all .2s ease;
}

.btn-primary:hover,
.btn.unsaved:hover {
    background-color: #4499e3;
    color:white;
}

section .btn-primary:focus,
.btn-unsaved:focus,
.btn-danger:focus {
    outline: 2px solid rgba(99, 215, 253, .5) !important;
    color:white;
}
.btn-danger:focus {
    border:none;
    background-color: #e0383e;
}

.btn-primary.disabled, .btn-primary[disabled] {
    background-color: #ccc;
    color: rgba(255, 255, 255, .8);
}
.btn-danger {
    background-color: #d0343a;
    transition: all .2s ease;
}

.btn-danger:hover{
    background-color:#e0383e;
}

textarea {
    width: 400px;
    height: 70px;
}

#id_description {
    width: 602px; 
    height: 200px;
}

td, th {
    padding-bottom: 8px;
    padding-right: 10px;
}

th, td label{
    padding-right: 20px;
    font-size: 11pt;
}

.result-table {
    table-layout: fixed;
}

.result-table tr th:first-child {
    width: 420px;
}

.result-table thead tr th {
    font-size: 16pt;
    font-weight: bold;
}

ul.minor {
    list-style-type: circle;
    color: #808080;
}
ul.minor li {
    font-size: 11pt;
}

select {
    margin: 8px 4px;
}

.progress .status-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #404040;
    line-height: 20px;
}
.progress {
    border-radius: 2px;
}
.progress-bar.done {
    background-color: #68be5e;
}
.placeholder {
    position: relative;
    margin-left: 16.66vw;
    height: 60px;
    padding-top: 20px;
}
.placeholder p {
    display:inline;
    font-size: 15px;
    color: #a1a1a1;
    font-weight: 300;
    margin-right: 10px;
}
.placeholder img {
    display:inline;
    width: 30px;
}
.placeholder:after {
    content: "";
    display: block;
    position: absolute;
    left: 130px;
    top: 20px;
    height: 20px; 
    background-color: white;
    opacity: .3;
    -webkit-animation: Placeholder-wash .98s infinite;
}

@-webkit-keyframes Placeholder-wash {
    0% {left: 119px;
        width: 11px;}
    100% {left: 130px;
        width: 0px;}
}
/**********************/

#file_list li {
    font-size: 13px;
    line-height:27px;
    text-decoration: none;
    border-bottom: 1px solid #ebebeb;
    padding-left: 5px;
}

#file_list {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 27px;
    max-width: 600px
}

#file_list a {
    color: black;
    text-decoration: none;
}

#file_list a:hover {
    color: #7cb9ff;
}

#file_list .icon {
    margin-top: 5px;
    margin-left: 15px;
}
.delete-button,
.copy-button,
.open-button {
    margin-top: 5px;
    width: 15px;
    height: 18px;
    margin-right: 10px;
    display:block;
    float:right;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties, CssUnknownTarget*/
.copy-button {
    background-image: url('../icons/copy_sprite.png');
    background-position: 0 0;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties, CssUnknownTarget*/
.copy-button:hover,
.copy-button:focus {
    background-position: 15px  0;
    background-image: url('../icons/copy_sprite.png');
    outline: none;
    background-color: transparent;
}

.open-button {
    background-image: url('../icons/open.png');
    background-size: 15px 18px;
    /*background-position: 0 0;*/
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties, CssUnknownTarget*/
.delete-button {
    background-image: url('../icons/delete_sprite.png');
    background-repeat-y: no-repeat;
    background-position: 0 2px;
}
.delete-button:hover,
.delete-button:focus {
    background-position: 15px 2px ;
    background-image: url('../icons/delete_sprite.png');
    background-repeat-y: no-repeat;
    outline: none;
    background-color: transparent;
}

input[type=file], button {
    display: inline;
}

#div_id_name div input {
    min-width: 400px;
}

#file_list .addNew {
    border-bottom: none;
}

#file_list .addNew a{
    color: #3577b1;
    opacity: .8;
    transition: opacity .2s ease;
}

#file_list .addNew a:hover {
    opacity: 1;
}
/*-------------------------------------------------------------*/
/*-----population.html-----*/
/*-------------------------------------------------------------*/
#replace_population {
    padding-top: 3px;
    padding-left: 10px;
}
#farm_list table, #farm_list tr, #farm_list td {
    border-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}
#population_grid_wraper{
    margin-left: calc(16.666vw - 280px); /*--remove and add col-xs-9 to html--*/
    width: calc(74.997vw + 40px);
    padding: 10px;
    background: white;
    position: relative;
    display: block;
    border-radius: 2px;
    overflow-y:auto;
}

#population_map_container {
    min-height: 23.333vw;
}
#unit_map {
    padding: 0;
    margin: 0;
    width: calc(100% + 15px);
    float: left;
    margin-left: -15px;
    margin-top: -6px;
}
#refresh_map {
    position: absolute;
    right: 20px;
    top: 0;
}
#clear_filters {
    position: absolute;
    left: 20px;
    top: 0;
}
#farm_list_container{
    float: right;
    width: 49.98vw;
    overflow-x: auto;
    padding-left: 0px;
}

#farm_list table {
    table-layout: fixed;
    border-collapse: collapse;
    white-space: normal;
    border-spacing: 0;
    position: relative;
    width: 100%;
    min-width: 630px;
}
#farm_list thead:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0)));
    top: 30px;
    z-index: 10;
}
#farm_list thead{
    background-color: #808080;
    width: 100%;
    position: relative;
    white-space: nowrap;
    min-width: 660px;
}
#farm_list th{
    padding: 8px 0px 4px 10px;
    white-space: nowrap;
    background: transparent;
    color: white; 
    font-size: 13px;
    font-weight: 300;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
#farm_list th, #farm_list td {
    width: 17%;
}

#farm_list tbody{
    display: inline-block;
    height: calc(100vh - 250px);
    overflow-y: auto;
    width: 100%;
    position: relative;
}
#farm_list table:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    display: block;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0)));
    bottom: 0px;
}
#farm_list tr:nth-child(even) {
    background: #f7f7f7;
}
#farm_list td {
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: middle;
    height: 26px;
    position: relative;
}
#farm_list td a {
    position: absolute;
    left: 3px;
    top: 5px;
    display: none;
}
#farm_list td:nth-child(4), #farm_list td:first-child {
    padding-left: 0;
}
#farm_list input, #farm_list select{
    border: none;
    margin: 0px;
    width: 100%;
}

#farm_list select {
    -webkit-appearance: none;
    background-color: transparent;
    padding-left: 10px;
    pointer-events: none;
}
#farm_list input {
    background-color: transparent;
    padding-left: 10px;
    pointer-events: none;
}
#farm_list select.editable {
    -webkit-appearance: menulist;
    pointer-events: all;
}
#farm_list input.editable {
    border: 1px solid #ccc;
    pointer-events: all;
}
/*-------------------------------------------------------------*/
/*-----population filters-----*/
/*-------------------------------------------------------------*/

#population_filters {
    padding-top: 27px;
}
#farm_filter:before {
    content:"";
    width: 22.66vw;
    position: absolute;
    display: block;
    top:-17px;
    left:0;
    height: 1px;
    background: #ebebeb;
}
#population_filters span {
    display: block;
    width: 42px;
    height: 20px;
    background: white;
    text-transform: uppercase;
    font-size: 11px;
    color: #ccc;
    position: absolute;
    top: 15px;
    z-index: 10;
}
#farm_filter {
    font-size: 13px;
    position: relative;
    margin-top: 12px;
}
#farm_filter tr {
    height: 36px;
}
#farm_filter td {
    display: inline-block;
}
#initial_state td:first-child,
#production_type_name td:first-child {
    width: 100px;
}
#initial_size td:first-child,
#longitude td:first-child,
#latitude td:first-child {
    width: 66px;
}
#farm_filter select {
    margin: 0;
    width: 98px;
}
#farm_filter input {
    width: 60px;
    height: 21px;
}
#farm_filter #production_type__name td:nth-child(2),
#farm_filter #initial_state td:nth-child(2) {
    display:none;
}

@media screen and (max-width: 1250px) {
    #farm_filter tr {
        border-top: 1px solid #ebebeb;
    }
    #farm_filter tr:first-child {
        border-top: none;
    }
    #initial_size td:first-child,
    #longitude td:first-child,
    #latitude td:first-child {
    width: 100%;
    }
    #farm_filter td:first-child {
        font-size: 11px;
        text-transform: uppercase;
        padding-bottom: 0;
        width: 100%;
    }
    #farm_filter select {
        width: 200px;
    }
}
@media screen and (max-width: 1100px) {
    section {
        margin-left: 195px !important;
        overflow: auto;
        min-width: 0 !important;
    }
    #population_grid_wraper {
        margin-left: 0;
        width: calc(100% + 40px);
        overflow-x: hidden;
    }
    #population_grid_wraper form:first-of-type{
        float: left !important;
        padding-right: 0;
    }
    #population_filters {
        position: absolute;
        top: 275px;
        width: 270px;
    }
    #farm_filter:before {
        width: 100%;
    }
    #population_map_container {
        position: absolute;
        width: 270px;
    }
    #unit_map {
        width: 260px;
    }
    #farm_list_container {
        float: left;
        margin-left: 280px;
        width: calc(100vw - 530px);
        border-right: 1px solid #ebebeb;
        padding-right: 0;
    }
    section h1:first-of-type {
        margin-left: 0;
    }
}
@media screen and (max-width: 960px) {
    #population_grid_wraper form:first-of-type {
        float: left !important;
        margin-top: 303px;
        width: calc(100% - 90px);
    }
    #farm_list_container {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    #population_map_container {
        left: 285px;
    }
    #population_filters {
        top: 0;
        left: 0;
    }
    #refresh_map {
        right: -297px;
        top: 285px;
    }
    #farm_filter {
        margin-top: 0;
    }
    #population_filters span {
        top: 4px;
    }
    #unit_map {
        width: 285px;
    }
}   


/*-------------------------------------------------------------*/
/*-----edit population-----*/
/*-------------------------------------------------------------*/
#edit-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
    transition: all .3s ease;
}
#farm_list .help-block {
    margin-top: 8px;
}
#edit_population {
    position: absolute;
    top: calc(100vh - 204px);
    right: 25px;
    transition: opacity .2s ease
}
#population_grid_wraper .buttonHolder {
    position: fixed;
    top: calc(75vh + 64px);
    left: calc(91.664vw - 175px);
    padding: 0 !important;
    float: none;
    clear: none;
}

@media screen and (max-width: 1348px) {
    #population_grid_wraper .buttonHolder {
        right: 7.5vw;
        left: auto;
    }
    #edit_population {
        right: 10px;
    }
}
@media screen and (max-width: 1140px) {
    #farm_list .help-block {
        font-size: 11px;
        margin-top:10px;
    }
}
@media screen and (max-width: 960px) {
    #farm_list .help-block {
        width: 200px;
    }
        #edit_population {
        left: 10px;
        right: auto;
        top: 285px;
    }
}

/*-------------------------------------------------------------*/
/*----- -----*/
/*-------------------------------------------------------------*/

th .sortControls{
    opacity:0;
    transition: opacity .2s ease;
}
.sortControls a {
    color: white;
    transition: opacity .2s ease;
}
th:hover .sortControls{
    opacity:1;
}
.sortControls a{
    opacity:0.3;
}
.sortControls a:hover{
    opacity:.8;
}
.sortControls .glyphicon{
    width: 8px;
    font-size: 12px;
}
.sortControls a:focus {
    background: transparent;
    outline: 0;
    border: none;
}
.sortControls .glyphicon-arrow-down {
    top: 2px;
}
#population_grid_wraper .buttonHolder {
    float: right;
    clear: both;
    padding-right: 20px;
    padding-top: 10px;
}

/********/

.type-warning {
    font-size: 14px;
    line-height: 24px;
}

.controls ul li label {  /*Radio buttons on multi-choice fields are giant without this */
    font-size: 10pt;
    font-weight: 400;
}

.model-banner {
    background-color: #808080;
    padding:5px 10px;
    color: white;
    font-size: 15px;
    max-width: 600px;
    line-height: 24px;
}

.model-banner a{
    color:white;
}

.model-banner a:hover,
.model-banner a:focus {
    text-decoration: none;
    border: none;
    outline: 0;
    background: #808080;
}

a.collapsed img {
    -webkit-transform: scaleY(-1);
}

.icon-flipped {
    -webkit-transform: scaleX(-1);
}

table tbody span {
    width: 139px;
    line-height: 21px;
    display: block;
}

table tbody span:hover { /*necessary in addtion to disableSelection() to preserve cursor appearance*/
    cursor: pointer;
}

.relevant .selected, .highlight { /*column is relevant and user has selected the row for many-to many-widget.js*/
    font-weight: 600;
    background-color: #d7f5ff;
}

/*Disabled control fields: include text labels*/
[disabled] {
    opacity: .5;
}

.visually-disabled {
    opacity: .5;
    pointer-events: none;
}

#sim_progress_and_button {
    position: fixed;
    bottom: 0 ;
    display: table;
    margin-left: 280px;
}

#sim_progress_and_button .btn, #sim_progress_and_button .progress {
    display: table-cell;
    vertical-align: middle;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

#sim_progress_and_button .btn {
    /*display: inline-block;*/
    width: 80px;
    /*line-height: 20px;*/
    padding: 0;
    margin: 0 5px 0 0;
    background-color: #ba3e44;
    color: white;
    font-size: 15px ;
    /*font-family: Source Sans Semibold, sans-serif;*/
    font-style: italic;
}

#sim_progress_and_button .progress {
    /*display: inline-block;*/
    width: 923px;
    margin: 0px;
}
#iteration_text {
    max-height: 20px;
    overflow: auto;
    width: 130px;
}

.spacer {
    height: 100px;
}


/*-------------------------------------------------------------*/
/*-----vaccination triggers-----*/
/*-------------------------------------------------------------*/
.VaccTriggerParamWrapper {
    margin-left: 50px;
    width: 100%;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    padding: 10px 20px;
}
.productiontypelist option, .grouplist option  {
    display:none;
    background-color: transparent;
}
.productiontypelist option[selected] , .grouplist option[selected]  {
    display: block;
    background-color: transparent !important;
    height: 27px;
    margin: 0 -10px;
    padding: 4px 10px 0px 10px;
}
.productiontypelist option[selected]:hover, .grouplist option[selected]:hover  {
    background-color: #ebebeb;
}
  
select[multiple] {}

.productiontypelist, .grouplist  {
    margin-left: 0px;
    min-height: 50px;
    width: 400px;
    background-color: rgba(244, 230, 0, .2);
    display: block;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, .1);
    padding: 5px 10px;
}
.productiontypelist:after {
    content:"To add production types to the trigger click on a Type or Group f"
    white-space: pre-wrap;
    font-style: italic;
    color: #808080;
}

/*----------------------------------------------------*/
/*----- Assign Disease Spread -----*/
/*----------------------------------------------------*/
.intro_text, #assign_spread_wrapper{
    padding: 0;
}
.intro_text, .intro_text p {
    color: #606060;
}
/*----------------------------------------------------*/
/*----- global overrides -----*/
/*----------------------------------------------------*/
.action_link {
    background: transparent;
    color: #62d7fd;
    border: none !important;
    outline: none !important;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    opacity: .7;
    transition: all .2s ease;
}
.btn-primary.action_link:hover,
.btn-primary.action_link:active,
.btn-primary.action_link:focus,
.btn-primary.action_link:visited,
.action_link:hover,
.action_link:active,
.action_link:focus,
.action_link:visited  {
    opacity: 1;
    background: transparent;
    color: #62d7fd !important;
    font-weight: 300;
    border: none !important;
    outline: none !important;
    box-shadow: none;
}
/*.action_link:focus {
    outline: 1px solid #62d7fd !important;
}*/

