<div class="col-xs-4 TB_panel TB_panel_closed layout-panel" id="functions_panel">
    <a href="" class="action_link">Assign</a>
    <select name="Relational" id=""></select>
    <select name="Probability" id=""></select>

    <div id="current-function">
    {% if func_action  %}
        {% include 'ScenarioCreator/RelationalFunction.html' %}
    {% else %}
        <script>
            $(function(){
                $('#current-function').load('/setup/Function/');
            });
        </script>
    {% endif %}
    </div>
</div>