    <a href="" class="action_link">Assign</a>
    <span class="pull-right" data-toggle="collapse" data-target="#probability-options">Probability <i class="glyphicon glyphicon-triangle-bottom"></i></span>
    <span class="pull-right" data-toggle="collapse" data-target="#relational-options">Relational <i class="glyphicon glyphicon-triangle-bottom"></i></span>
    <div id="relational-options" class="collapse">
        <ul>
            {% for entry in models.0.entries %}
                <li><a href="/setup/RelationalFunction/{{ entry.pk }}/" load-target="{{ load_target }}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="probability-options" class="collapse">
        <ul>
            {% for entry in models.1.entries %}
                <li><a href="/setup/ProbabilityFunction/{{ entry.pk }}/" load-target="{{ load_target }}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="current-function">
    {% if form  %}
        {% include 'ScenarioCreator/RelationalFunction.html' %}
    {% else %}
        {% include 'ScenarioCreator/ModelList.html' %}
    {% endif %}
    </div>