    <a href="" class="action_link">Assign</a>
    <select name="Relational" id="">
        {% for entry in models.0.entries %}
            <option value=""><a href="/setup/RelationalFunction/{{ entry.pk }}/" load-target="{{ load_target }}">{{ entry }}</a></option>
        {% endfor %}
    </select>
    <select name="Probability" id="">
        {% for entry in models.1.entries %}
            <option value=""><a href="/setup/ProbabilityFunction/{{ entry.pk }}/" load-target="{{ load_target }}">{{ entry }}</a></option>
        {% endfor %}

    </select>

    <div id="current-function">
    {% if form  %}
        {% include 'ScenarioCreator/RelationalFunction.html' %}
    {% else %}
        {% include 'ScenarioCreator/ModelList.html' %}
    {% endif %}
    </div>