body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

h1 {
    font-size: 22pt;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    top: 0;
    border-bottom: 2px solid #EEE;
}

header h1 {
    line-height: 50px;
    margin: 0 10px;
    color: #555;
    float: left;
    width: 83px;
}

.filename {
    float: left;
    width: 350px;
}

.filename input {
    border: none;
    height: 47px;
}

header form {
    float: left;
    width: 840px;
}

/*header .alert {*/
    /*float: left;*/
    /*margin-top: 5px;*/
    /*width: 25%;*/
    /*height: 40px;*/
    /*display: none;*/
/*}*/

header #admin_link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}

body>nav {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow: auto;
    /*background-color: #DDD;*/
}

body>section {
    margin-top: 50px;
    padding-top: 0px;
    margin-left: 250px;
    padding-left: 20px;
}
#setupMenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 54px;
}

#setupMenu ul {
    list-style: none;
    padding-left: 0;
}

#setupMenu li {
    padding-top: 4px;
}

#setupMenu a {
    color: black;
    display:block;
    text-decoration: none;
    background-color: #E4E4E4;
    font-size: 14pt;
    font-weight: 600;
    line-height: 35px;
    padding-left: 5px;
}

#setupMenu ul a {
    font-weight: 400;
    background-color: #EEEEEE;
}

#setupMenu ul ul a {
    background-color: #FFFFFF;
}

#setupMenu a:hover {
    background-color: #FFF;
}

#setupMenu .active {
    background-color: #B1B1B1
}

#setupMenu span {
    width: 5px;
    height: 35px;
}

#setupMenu .incomplete {
    font-weight: 600;
    font-style: italic;
    color: #999;
    background-color: #FFDD4A;
}

#setupMenu .completed, .completed {
    background-color: #B6F3A7;
}

#RunSimulation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
}

#RunSimulation a {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#RunSimulation .glyphicon {
    font-size: 30px;
    display: relative;
    top: 6px;
    /*vertical-align: middle;*/
}

.btn-add {
    background: none;
    padding:0;
    border-width: 0;
    color: #007700;
}

.btn {
    margin: 8px;
}

textarea {
    width: 400px;
    height: 70px;
}

td, th {
    padding-bottom: 8px;
    padding-right: 10px;
}

th {
    padding-right: 20px;
}

select {
    margin: 8px 0;
}


#file_list ul {
    list-style-type: none;
}

#file_list li {
    text-decoration: none;
}

#file_list li:nth-child(even) {
    background-color: #ddd;
}

#file_list {
    margin-top: 20px;
    width: 50%
}

.controls ul {

}

#file_list .delete-button {
    color: dimgrey;
}

body .modal-dialog {
    width: 50%;
    margin-left: 25%;
}