body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

h1 {
    font-size: 22pt;
}

a {
    color: #7cb9ff;
}

li {
    font-size: 14pt;
}

.icon {
    max-height: 20px;
    max-width: 20px;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 44px;
    top: 0;
    border-bottom: 4px solid black;
}

header a, header button {
    height: 35px;
    line-height: 35px;
}

header .btn {
    padding: 8px 10px 8px 10px;
}

header h1 {
    margin: 0 0px;
    float: left;
}

header div {
    width: 220px;
    overflow:auto;
    float: left;
}

.filename {
    float: left;
    width: 700px;
    padding: 0 20px;
}

.filename input {
    border: none;
    width: 100%;
}

header form {
    float: left;
    width: 940px;
}

.btn.completed {  /*This is flipped incomplete/completed because of the way python is storing it*/
    background-color: #7cb9ff;
}

/*header .alert {*/
    /*float: left;*/
    /*margin-top: 5px;*/
    /*width: 25%;*/
    /*height: 40px;*/
    /*display: none;*/
/*}*/

header #admin_link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}

body>nav {
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 220px;
    overflow: auto;
    /*background-color: #DDD;*/
}

body>section {
    margin-top: 44px;
    padding-top: 0px;
    margin-left:  220px;
    padding-left: 20px;
}
#setupMenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 54px;
}

#setupMenu ul {
    list-style: none;
    padding-left: 0;
}

#setupMenu li {
    padding-top: 4px;
}

#setupMenu a {
    color: black;
    display:block;
    text-decoration: none;
    background-color: #E4E4E4;
    font-size: 14pt;
    font-weight: 600;
    line-height: 35px;
    padding-left: 5px;
}

#setupMenu ul a {
    font-weight: 400;
    background-color: #EEEEEE;
}

#setupMenu ul ul a {
    background-color: #FFFFFF;
}

#setupMenu a:hover {
    background-color: #FFF;
}

#setupMenu .active {
    background-color: #B1B1B1
}

#setupMenu span {
    width: 5px;
    height: 35px;
}

#setupMenu .incomplete {
    font-weight: 600;
    font-style: italic;
    color: #999;
    background-color: #FFDD4A;
}

#setupMenu .completed, .completed {
    background-color: #B6F3A7;
}

#RunSimulation {
    position: fixed;
    bottom: 0;
    left: 0;
    width:  220px;
}

#RunSimulation a {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#RunSimulation .glyphicon {
    font-size: 30px;
    display: relative;
    top: 6px;
    /*vertical-align: middle;*/
}


.btn {
    font-style: italic;
    margin: 3px 1px 0px 1px;
    color: #ffffff;
    background-color: #00477f;
    border-radius: 0;
    border: 0px;
}

.btn-add {
    background: none;
    padding: 0 0 6px 3px;
    border-width: 0;
    color: #007700;
    vertical-align: middle;
    margin: 8px 0;
}

textarea {
    width: 400px;
    height: 70px;
}

td, th {
    padding-bottom: 8px;
    padding-right: 10px;
}

th {
    padding-right: 20px;
}

select {
    margin: 8px 0;
}


#file_list ul {
    list-style-type: none;
}

#file_list li {
    text-decoration: none;
    border-bottom: 2px solid #d9d9d9;
}

#file_list {
    margin-top: 20px;
    max-width: 600px
}

#file_list .icon {
    margin-top: 5px;
    margin-left: 15px;
}

body .modal-dialog {
    width: 50%;
    margin-left: 25%;
}
