body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

h1 {
    font-size: 16pt;
    font-weight: 600;
    margin-left: -15px;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}

a {
    color: #7cb9ff;
}

a:hover {
    color: #7cb9ff;
    /*with underline*/
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: 14pt;
}

.icon {
    max-height: 20px;
    max-width: 20px;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 44px;
    top: 0;
    border-bottom: 4px solid black;
}

header a, header button {
    height: 35px;
    line-height: 35px;
}

header .btn {
    padding: 8px 10px 8px 10px;
}

header h1 {
    margin: 0 0px;
    float: left;
}

header h2 {
    margin-top: 3px;
}

header div {
    width: 220px;
    overflow:auto;
    float: left;
}

.filename {
    float: left;
    width: 700px;
    padding: 0 20px;
    font-size: 20pt;
    font-weight: 400;
}

.filename input {
    border: none;
    width: 100%;
    color: #666;
}

header form {
    float: left;
    width: 940px;
}

/*header .alert {*/
    /*float: left;*/
    /*margin-top: 5px;*/
    /*width: 25%;*/
    /*height: 40px;*/
    /*display: none;*/
/*}*/

header #admin_link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}

body>nav {
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 220px;
    overflow: auto;
    /*background-color: #DDD;*/
}

body>section {
    margin-top: 44px;
    padding-top: 1px;
    margin-left:  220px;
    padding-left: 40px;
}
#setupMenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 54px;
}

#setupMenu li {
    padding-top: 4px;
}

#setupMenu a {
    color: black;
    display:block;
    text-decoration: none;
    background-color: #E4E4E4;
    font-size: 14pt;
    font-weight: 600;
    line-height: 35px;
    padding-left: 8px;
}

#setupMenu ul a {
    font-weight: 400;
    background-color: #EEEEEE;
}

#setupMenu ul ul a {
    background-color: #FFFFFF;
}

#setupMenu a:hover {
    width: 215px;
}

#setupMenu .active {
    background-color: #B1B1B1
}

#setupMenu span {
    width: 5px;
    height: 35px;
}

#setupMenu .incomplete {
    font-weight: 600;
    font-style: italic;
    color: #999;
    background-color: #FFDD4A;
}

#setupMenu .completed, .completed {
    background-color: #B6F3A7;
}

#RunSimulation {
    position: fixed;
    bottom: 0;
    left: 0;
    width:  220px;
}

#RunSimulation a {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#RunSimulation .glyphicon {
    font-size: 30px;
    display: relative;
    top: 6px;
    /*vertical-align: middle;*/
}


.btn {
    font-style: italic;
    margin: 3px 1px 0px 1px;
    color: #ffffff;
    border-radius: 0;
    border: 0px;
}

.btn-add {
    background: none;
    padding: 0 0 6px 3px;
    border-width: 0;
    color: #007700;
    vertical-align: middle;
    margin: 8px 0;
}

.btn-primary {
    background-color: #00477f;
}

.btn-primary.disabled, .btn-primary[disabled] {
    background-color: #7B8893;
}
.btn-danger {
    background-color: darkred;
}

.btn.unsaved {
    background-color: #7cb9ff;
}

.btn.unsaved:hover {
    background-color: #479DFF;
}

textarea {
    width: 400px;
    height: 70px;
}

td, th {
    padding-bottom: 8px;
    padding-right: 10px;
}

th, td label{
    padding-right: 20px;
    font-size: 12pt;
}


select {
    margin: 8px 4px;
}

/**********************/

#file_list li {
    text-decoration: none;
    border-bottom: 2px solid #d9d9d9;
}

#file_list {
    margin-top: 5px;
    margin-bottom: 27px;
    max-width: 600px
}

#file_list a {
    color: black;
    text-decoration: none;
}

#file_list a:hover {
    color: #7cb9ff;;
}

#file_list .icon {
    margin-top: 5px;
    margin-left: 15px;
}

#file-upload input, button {
    display: inline;
}

/**************************/

#farm_list {
    margin-bottom: 10px;
}

#farm_list{
    display: inline-block;
    max-height: 500px;
    max-width: 900px;
    overflow-y: auto;
    padding-right: 20px; /*for windows scrollbar*/
}

#farm_list input, #farm_list select{
    border: none;
    padding: 0px;
    margin: 0px;
}

#farm_list th{
    /*border: 1px solid black;*/
    font-size: 12pt;
    padding: 2px 8px 2px 0;
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
    white-space: nowrap;
}

th .sortControls{
    opacity:0;
}
.sortControls a {
    color: darkgray;
}
th:hover .sortControls{
    opacity:1;
}
.sortControls a{
    opacity:0.7;
}
.sortControls a:hover{
    opacity:1;
}


body .modal-dialog {
    width: 50%;
    margin-left: 25%;
}

.type-warning {
    font-size: 14pt;
}

.controls ul li label {  /*Radio buttons on multi-choice fields are giant without this */
    font-size: 10pt;
    font-weight: 400;
}

.model-banner {
    background-color: #00477f;
    border:5px solid #00477f;
    color: white;
    font-size: 14pt;
    max-width: 600px;
    line-height: 27px;
}

.model-banner a{
    color:white;
}

a.collapsed img {
    -webkit-transform: scaleY(-1);
}

table tbody span {
    width: 139px;
    line-height: 21px;
    display: block;
}

table tbody span:hover { /*necessary in addtion to disableSelection() to preserve cursor appearance*/
    cursor: pointer;
}

.relevant .selected, .highlight { /*column is relevant and user has selected the row for many-to many-widget.js*/
    font-weight: 600;
    background-color: #d7f5ff;
}