@import "../fonts/source-sans-pro/source-sans-pro.css";

/*:focus{
    outline: 2px solid rgba(99, 215, 253, .5);
    background-color:white;
}*/

.row,
.full-width {
    width: 100%;
}

a:focus{
    outline-offset:0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    box-sizing:border-box;
    padding-bottom: 50px;
    height: 100%;
    overflow-y: hidden;
}


h2, h2 a{
    font-size:15px;
    font-weight:600;
    color:inherit;
}

h3, h4 {
    font-size: 13px;
    font-weight: 400;
}


.panel-heading h1, .panel-heading h2, .panel-heading h3{
    margin: 0 0 5px 0;
}

section h1 {
    font-size: 18px;
    font-weight:600;
}

section h1, section h2 {
    margin-bottom: 20px;
}

h3, h4 {
    font-weight: 400;
}

section h4 {
    font-size: 11pt;
}

a {
    color: #7cb9ff;
}

a:hover {
    color: #7cb9ff;
    /*with underline*/
}

a.wiki, a.wiki:visited {
    color: #B95E07;
}
select {
    margin-top: 0 !important;
    margin-left: 0 !important;
    border-radius: 0;
    -webkit-appearance: none;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-image: url('../icons/disclosure_arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px);
    padding-right: 20px;
    padding-left: 5px;
    background-color: #fff;
    max-width:  100%;
}
select:required, input:required, textarea:required {
    background-color: rgba(244, 230, 0, .2);
    display: block;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, .1);
    padding-left: 5px;
    -webkit-appearance: none;
    /* height: 63px; */
    border-radius: 0;
    margin-left: 0;
}

label {
    line-height: 1;
}
select:hover, input:hover, textarea:hover {
    outline: inset 1px rgba(84, 201, 232, .5);
    border: 1px solid transparent;
    outline-offset: -1px;
    padding-left: 4px;
}
select:hover {
    padding-left: 5px;
}
select:required:hover{
    padding-left: 4px;
}
input:focus,
select:focus,
textarea:focus {
  outline: rgba(84, 201, 232, .7) solid 2px !important;
}
input[type="number"], input[type="text"] {
    height:20px;
    padding: 0 0 0 5px;
}
input[type="number"]{
    max-width: 130px;
}
input[type="number"]:hover {
    padding: 1px 0 0 6px;
}
input[type="number"]:required:hover {
    padding: 0 0 0 4px;
}
input[type="text"]:hover {
    padding-left: 6px;
}
input[type="text"]:required:hover{
    padding-left: 4px;
}
input .checkboxinput:focus {
    outline: none !important;
}
input[type="file"] {
    border:1px solid transparent;
}
input[type="file"]:hover {
    padding: 0;
}
input[type="file"]:focus {
    border: 1px solid transparent;
    outline: none !important;
}
textarea {
    padding: 5px 10px;
    width: 100%;
    height: 70px;
    max-width: 500px;
}
textarea:hover {
    padding-left: 10px;
}
input[type="checkbox"] {
    margin-top: 1px;
}
.checkbox {
    margin-bottom: 18px;
}
/*-------------------------------------------------------------*/
/*-----readonly form styling-----*/
/*-------------------------------------------------------------*/
form.readonly input,
form.readonly select{
    border: none;
    margin: 0px;
    width: 100%;
    background-image: none;
}

form.readonly select {
    -webkit-appearance: none;
    background-color: transparent;
    padding-left: 10px;
    pointer-events: none;
    box-shadow:none;
}
form.readonly input {
    background-color: transparent;
    padding-left: 10px;
    pointer-events: none;
    box-shadow: none;
}
/*-------------------------------------------------------------*/
/*-----editable form styling-----*/
/*-------------------------------------------------------------*/
form.editable select {
    /*-webkit-appearance: menulist;*/
    pointer-events: all;
    margin-bottom: 0px;
}
form.editable input{
    border: 1px solid #ccc;
    pointer-events: all;
}
.help-block {  
    font-weight: 200;
    display: block;
    height: auto;
    overflow: hidden; /* check boxes are bold from mixins.less and I think it looks better with definitions*/
}

.hide-help-text .help-block {
    display: none;
}

.hide-help {
    height: 0;
}

.error-inline strong,
.help-inline {  /* validation errors from the server */
    background-color: #D13737;
    color: white;
}

.icon {
    max-height: 20px;
    max-width: 20px;
}
section .icon{
    max-height: 16px;
}
/*-------------------------------------------------------------*/
/*-----header-----*/
/*-------------------------------------------------------------*/
header {
    position: fixed;
    z-index: 100;
    background-color: #606060;
    width: 100%;
    height: 55px;
    top: 0;
    min-width:1000px;
    color: white;
}
header:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

header a, header button {
    height: 35px;
    line-height: 35px;
}

header .btn, #header .btn {
    padding: 8px 10px 8px 10px;
}
header .buttonHolder {
    min-width: 256px;
}


header h1 {
    margin: 0 0px;
    font-size: 20pt;
    font-weight: 400;
    background:#606060;
    color:white;
}

header div {  
    /*width: 226px;  too generic*/
    overflow:auto;
    float: left;
}

header p {
    float: none;
}
header .header_logo{
    height: 23px;
    display: block;
    background-image: url("https://github.com/NAVADMC/ADSM/blob/gh-pages/images/adsm_logo.png?raw=true");
    margin-top: 15px;
    background-position: 20px;
    background-repeat: no-repeat;
    min-width: 190px;
}
header .col-xs-8 {
    height: 42px;
}
.header_filename {
    padding-left: 0;
}
header .filename {
    float: left;
    /*min-width: 540px;*/
    padding-top: 11px;
}

.filename input {
    border: none;
    width: calc(100% - 75px);
    pointer-events: none; /*not editable by user*/
}
.scenario-status {
    display:none
}
.scenario-status.unsaved {
    display:block;
}
.scenario-status h2{
    line-height: 21px;
    padding-bottom: 0;
    margin-bottom: 0;
    visibility: hidden;
    margin-top: 1px;
}
.scenario-status p{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}
#file_panel {
    z-index: 102;/*necessary for #unsaved-header*/
}
#unsaved-header {
    color: white;
    position: fixed;
    top: 25px;
    left: 83%;
    z-index: 130;
}

header .buttonHolder{
    padding-top:8px;
}
header .buttonHolder .btn {
    background-color: transparent;
    transition: all .2s ease;
    color: rgba(255, 255, 255, .7);
    margin-left: 5px;
    height: 20px;
    padding: 0;
    margin-top: 0;
    color: rgba(255, 255, 255, .7);
    position: relative;
}
header #file_actions .icon{
    max-height: 14px;
    margin-right: 3px;
    margin-bottom: 2px;
    opacity:.7;
    transition: opacity .2s ease;
}
header #file_actions .btn {
    width: 78px;
}

header .admin .btn{
    padding-top: 1px !important;
}
header .buttonHolder .btn:first-child:after{
    content:"";
    width: 1px;
    height: 20px;
    display: block;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    top: 5px;
    right: -1px;
}
#file_actions .btn:first-child:after {
    top: 0px;
}

#file_actions .btn:last-child {
    height:30px;
    border:1px solid gray;
    background-color: #707070;
}

header .buttonHolder .btn:hover {
    color: rgba(255, 255, 255, 1);
}
#file_actions a:hover .icon {
    opacity: 1;
}

 #file_actions .btn:last-child:hover {
    background-color: #a8a8a8;
}

.loading_button {
    background: url("../working.gif") no-repeat center;
    background-color: #808080 !important;
    color: rgba(255, 255, 255, .2) !important;
    background-size: 38px;
    outline: 1px solid #909090;
    outline-offset: -1px;
}

body>nav {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 175px;
}

/*-------------------------------------------------------------*/
/*-----3-column layout-----*/
/*-------------------------------------------------------------*/
#main-panel {
    /* float:none; */
    /*margin-left: 185px;*/
    width: calc(100vw - 160px);
}

.layout-panel {
    margin-top: 65px;
    display: block;
    height: calc(100vh - 75px);
    overflow-y: auto;
    overflow-x: visible;
    padding: 0;
    position: relative;
}
#center-panel,
#center-panel .fragment,
#functions_panel,
#functions_panel .fragment {
    overflow-x: hidden; /*no scrollbars*/
}

.layout-panel .fragment{
    height: 100%;
    /* position: relative; */
    display: block;
    overflow: auto;
    padding-bottom: 10px;
}
.layout-panel .fragment input.textinput,
.layout-panel .fragment input.textInput
.layout-panel .fragment select,
.layout-panel select.productiontypelist {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 500px;
}
#left-panel {
    width:calc(16.667vw + 25px);
    padding-right: 25px;
}
#left-panel .fragment h1:first-of-type,
section#left-panel h1:first-of-type,
#main-panel h1:first-of-type {
    margin-top: 2px;
}
#center-panel input,
#center-panel select {
    background-position: calc(100% - 5px);
    width: 100%;
}
#center-panel input[type="checkbox"]{
    width: 15px;
}
#center-panel .glyphicon-pencil {
    display: none;
}
#center-panel .fragment {
    padding: 0 45px 10px 20px;
}
#center-panel .fragment form {
    margin-top: 10px;
}
#center-panel textarea {
    width: 100%;
}
ul {
    padding-left: 5px; /*prevent style inheritance from above*/
    list-style: none;
}
/*-------------------------------------------------------------*/
/*-----center block-----*/
/*-------------------------------------------------------------*/
.center-block {
    width: calc(100vw - 60px);
    padding-left: 200px;
    margin-right:0;
    margin-left: 0;
    z-index: 0;
}


/*---- 2nd-to-3rd-column linking ----*/

#center-panel .control-group {
    position:relative;
}
#center-panel .active:not(.tab-pane) {
    border: 2px solid #cec7c0;
}

.nav > li > a {
    padding: 10px 10px;
    border: 1px solid #E7E7E7;
}

#center-panel .active_linking:after { /*--- right-linking line inside container --*/
    content:"";
    position: absolute;
    right: -20px;
    top: 29px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #cec7c0;
}
#center-panel .active_linking:before { /*-- link graphic between center and right columns --*/
    content:"";
    position: absolute;
    right: -45px;
    top: 20px;
    display: block;
    width: 25px;
    height: 20px;
    background-color: rgba(206, 199, 192, .5);
    border-top: 1px solid #cec7c0;
    border-bottom: 1px solid #cec7c0;
    background-image: url('../icons/link_icon.png');
    background-repeat: no-repeat;
    background-position: 3px 5px;
    
}
.reveal:after {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: 100%;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    border: 1px solid #cec7c0;
    pointer-events: none;
}

.reveal.layout-panel:after {
    width: calc(100% - 25px);
}

/*-------------------------------------------------------------*/
/*-----TOOLBAR-----*/
/*-------------------------------------------------------------*/
#toolbar {
    position: fixed;
    top: 75px;
    right: 0px;
    height: 100%;
    background-color: white;
}
.TB_btn {
    width: 50px;
    height: 50px;
    display: block;
    opacity: .5;
    background-repeat: no-repeat;
    transition: opacity .2s ease;
    position: relative;
}
.TB_btn:hover {
    opacity: 1;
}
.TB_btn.active {
    background-color: transparent;
    box-sizing: border-box;
    outline: 0;
    opacity: 1;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    border-bottom: 1px solid #cec7c0;
    border-top: 1px solid #cec7c0;
    transition: background-position-x .05s ease;
}
.TB_btn.active:before {
    content: "";
    width: 20px;
    height: 48px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.2)));
    position: absolute;
    top: 0;
    left: -10px;
}
.TB_btn.active:after {
    content: "";
    position: absolute;
    display: block;
    top: 8px;
    height: 34px;
    width: 50px;
    border-left: 1px solid #cdc7c0;
    border-top: 17px solid rgba(0, 0, 0, 0);
    border-bottom: 17px solid rgba(0, 0, 0, 0);
    opacity: .5;
}
.TB_btn.active:hover {
    background-position-x: 5px;
}

.TB_btn.active:hover::after {
    border-left: 10px solid #cdc7c0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    opacity: 1;
}
.TB_btn.disabled {
    opacity: .25;
    cursor: default;
}
.TB_btn.disabled:hover {
    cursor: default;
    opacity: 0.25;
}
#TB_file {
    background-image: url("../icons/TB_file_btn.png");
}
#TB_settings {
    background-image: url("../icons/TB_settings_btn.png");
}
#TB_population {
    background-image: url("../icons/TB_population_btn.png");
}
#TB_functions {
    background-image: url("../icons/TB_function_btn.png");
}
#tb_mask {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;

}
/*-------------------------------------------------------------*/
/*-----TOOLBAR panels-----*/
/*-------------------------------------------------------------*/
.layout-panel.TB_panel { /*needs to be more specific than the .layout-panel rule */
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 50px;
    width: calc(33.333vw - 75px);
    /* max-width: 460px; */
    overflow-y: auto;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    border: 1px solid #cec7c0;
    padding: 0 15px 0px 15px; 
    background-color: white;
    transition: margin-right .2s ease;
    overflow: auto;
    z-index: 15;
}
.TB_panel.TB_panel_closed {
    margin-right: -33.3333vw;
}
#main-panel ~ .TB_panel,
#population_main_panel ~ .TB_panel { /*--floats panel over content for static page layouts--*/
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2), -5px 0px 3px -1px rgba(0, 0, 0, .15) !important;
}
/*-------------------------------------------------------------*/
/*-----file panel-----*/
/*-------------------------------------------------------------*/
#file_panel, #file_panel .file_list a{
    background-color: #606060;
    color: rgb(236, 236, 236);
    padding: 1px;
}

.ellipsis-title {
    width: calc(100% - 85px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current, .current .filename {
    background-color: white;
    color: black;
    width: 100%;
}

.current .buttonHolder {
  position: absolute;
  right: 24px;
  top: 40px;
}

#file_panel h2,
#file_panel form{
    padding-left: 10px;
    padding-right: 5px;
    margin: 0;
    font-weight: 100;
}

#file_panel h2 {
    color: rgb(216, 216, 216);
    line-height: 19px;
    border-bottom: 1px solid rgb(180, 180, 180);
}

/*#file_panel .buttonHolder {*/
    /*float: right;*/
/*}*/

/*-------------------------------------------------------------*/
/*-----settings panel-----*/
/*-------------------------------------------------------------*/
#settings_panel{}
#settings_panel hr{
    margin: 15px 0 15px 0;
}
#settings_panel hr:last-of-type {
    margin-top: 0;
}
#settings_panel input[type="checkbox"]{
    margin-right: 5px;
    margin-bottom: 15px;
}
#settings_panel .btn {

}

/*-------------------------------------------------------------*/
/*-----population panel-----*/
/*-------------------------------------------------------------*/
#population_panel h2 {
    margin-top: 12px;
}
#population_panel h2:nth-of-type(2) {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}
#population_panel ul {
    list-style-type: none;
    padding-left: 0;
}
#population_panel ul li {
    height: 27px;
    font-size: 13px;
    overflow:hidden;
    padding: 4px 0 0 10px;
}
#population_panel ul li:hover {
    background-color: #ebebeb;
}
#population_panel.add-pt ul li:hover, #population_panel.add-pt ul li a:hover {
    cursor: url("../icons/add_cursor.png"), auto;
}
#population_panel a:focus {
    background-color: transparent;
    border: none;
    outline: 0;
}
#population_panel ul li a, #population_panel ul li span:first-of-type {
    width: 25%;
    min-width: 95px;
    display: inline-block;
    padding-right: 10px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #606060;
    text-decoration: none;
}
#population_panel input {
    background-color: rgba(244, 230, 0, .2);
    display: block;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, .1);
    padding-left: 5px;
}
/*-------------------------------------------------------------*/
/*-----functions panel-----*/
/*-------------------------------------------------------------*/
#functions_panel {
    /* padding-left: 32px; */
    overflow-y: hidden;
}

#functions_panel .glyphicon {
    /* color: black; */
    width: 12px;
    height: 12px;
    font-size: 12px;
}

.function_dropdown {
    position: absolute;
    height: auto;
    padding-right: 20px;
    background-color: white;
    border: solid 1px black;
    right: 0px;
    top: 36px;
    color: black;
    z-index: 3;
}

.function_dropdown a:hover {
    color: #0000ee;
    /*text-decoration: underline;*/
}

.list-button:hover {
    cursor: pointer;
}

#functions_panel input[type="checkbox"] {
    display: none;
}

#functions_panel input[type="checkbox"].editable {
    display: inline-block;
}
#functions_panel .function-header {
    margin-top: 15px;
    margin-bottom: 4px;
}

/*---------------------Edit Button Holder-----------*/
.panel-contents {
    position:relative; /*needed by edit-button-holder*/
    height: calc(100% - 95px); /*leave space for button-footer*/
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#current-function {
    overflow-y: auto;
    max-height: 100%;
}

.button-footer {
    position: absolute;
    bottom: -92px;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 42px;
}
.edit-button-holder{
    position: relative;
    left: 0px;
    bottom: -28px;
}
/*.edit-button-holder .edit-button {*/
    /*z-index: 20;*/
/*}*/
.edit-button-holder button,
.edit-button-holder a {
    position: absolute;
    bottom: -10px;
    right: 0px;
    width: 115px;
    transition: bottom .4s ease;
}
.edit-button-holder .overwrite-button.reveal {
    /*noinspection CssInvalidPropertyValue*/
    bottom: calc(-10px + 32px * 1);
}
.edit-button-holder .copy-button.reveal {
    /*noinspection CssInvalidPropertyValue*/
    bottom: calc(-10px + 32px * 2);
}
.edit-button-holder .btn-cancel.reveal {
    /*noinspection CssInvalidPropertyValue*/
    bottom: calc(-10px + 32px * 3);
}


/*-------------------------------------------------------------*/
/*-----navigation menu-----*/
/*-------------------------------------------------------------*/
#setupMenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 54px;
    margin-top:5px;
    max-height: calc(100vh - 126px);
    overflow-y: auto;
    direction: rtl;
    z-index: 1;
}
#setupMenu-before {
    content:"";
    position: fixed;
    top: 60px;
    left: 0;
    display: block;
    width: 170px;
    height: 6px;
    z-index: 100;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
    visibility: hidden;
}
#setupMenu-after{
    content:"";
    position: fixed;
    top: calc(100vh - 72px);
    left: 0;
    display: block;
    width: 170px;
    height: 6px;
    z-index: 100;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
    visibility: hidden;
}

#setupMenu h2:first-child a{
    border-top:1px solid #eeeeee;
}

#setupMenu h2, #setupMenu h3, #setupMenu h4 {
    margin-top: 0;
    margin-bottom: 0; /* These are meant to stack */
    overflow: hidden;
    white-space: nowrap;
    position:relative;
    /*width:170px;*/
}

#setupMenu a {
    color: #606060;
    display:block;
    text-decoration: none;
    line-height: 35px;
    padding-left: 15px;
    transition:background-color .2s ease;
    width:170px;
    position:relative;
    margin-bottom:1px;
    margin-right: 5px;
    direction: ltr;
}

#setupMenu a:before {
    content:"";
    display:block;
    width:100%;
    height:1px;
    background-color:#eeeeee;
    position:absolute;
    bottom:-1px;
    left:-5px;
}

#setupMenu a:hover{
    background-color:#eeeeee;
}

#setupMenu a.active:hover{
    background-color:#606060;
}

#setupMenu h3 a, #setupMenu h4 a {
    padding-left:30px;
}

#setupMenu a.active {
    background-color: #606060;
    margin-left:0;
    color:white;
    font-weight:400;
    -webkit-border-radius:0 4px 4px 0;
    width:175px;
    margin-right: 0;
}

#setupMenu span {
    width: 5px;
    height: 35px;
    -webkit-border-radius:0 2px 2px 0;
}
/*--------- right border on results nav menu -----*/
#setupMenu h2:before,
#setupMenu h3:before,
#setupMenu h4:before {
    content: "";
    width: 5px;
    height: 37px;
    display: block;
    position: absolute;
    right: 5px;
    top: -1px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0 2px 2px 0;
}

#setupMenu .incomplete {
    font-weight: 600;
    font-style: italic;
    color: #999;
    background-color: #f6da40;
}

#setupMenu .completed, .completed {
    background-color: #68be5e;
}

#setupMenu .empty_subcategory {
    display: none;
}

#RunSimulationIn,
#RunSimulationRes {
    position: fixed !important;
    bottom: 10px;
    left: 0;
    width:  170px;
}
#RunSimulationIn a,
#RunSimulationRes a {
    margin-right: 0;
}
#RunSimulationRes a{
    color: rgba(255, 255, 255, .8);
}
#RunSimulationIn a:after {
    content: "";
    position: absolute;
    top: 17px;
    margin-left: 8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 11px solid #606060;
    transition: all .2s ease;
}
#RunSimulationIn a.incomplete:after {
    border-left: 11px solid #999;
}

#RunSimulationRes a:after {
    content: "";
    position: relative;
    float:left;
    top: 17px;
    margin-right: 10px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 11px solid rgba(255, 255, 255, .8);
    transition: all .2s ease;
}

#RunSimulationIn.incomplete,
#RunSimulationIn.incomplete:hover,
#RunSimulationIn a.incomplete:hover {
    background-color:#f6da40;
}

#RunSimulationIn.completed,
#RunSimulationIn.completed:hover,
#RunSimulationIn a.completed:hover {
    background-color:#68be5e;
}
#RunSimulationRes,
#RunSimulationRes:hover,
#RunSimulationRes a.completed,
#RunSimulationRes a.completed:hover {
    background-color: #3577b1;
}

#RunSimulationIn a,
#RunSimulationRes a {
    height: 50px;
    line-height: 50px;
    font-size:17px;
    font-style:italic;
    transition: color .2s ease;
}
#RunSimulationIn:hover a {
    color: black;
}
#RunSimulationRes:hover a {
    color: rgba(255, 255, 255, 1);
}
#RunSimulationIn:hover a:after{
    border-left: 11px solid black;
}
#RunSimulationRes:hover a:after{
    border-right: 11px solid rgba(255, 255, 255, 1);
}
#RunSimulationIn a.tall,
#RunSimulationRes a.tall {
    padding-top: 10px;
    height: 75px;
    line-height: 20px;
}

#RunSimulationIn a:before,
#RunSimulationRes a:before {
    display:none;
}
#setupMenu .toggle.btn {
    position: absolute;
    top: 5px;
    left: 120px;
    height: 18px !important;
    width: 30px !important;
    min-height: 18px !important;
    min-width: 30px !important;
    border: 1px solid #ccc;
    outline: none;
}
#setupMenu .toggle.btn span {
    height: 16px;
    background-color: #b2b2b2;
    outline: none;
    border-radius: 0;
    right: -2px;
    top: -2px;
}
.toggle-group label{
    font-style: normal;
    font-size: 11px;
    text-transform: lowercase;
    margin-top: 0;
}
.toggle-group .btn, .toggle-group .btn:hover{
    min-width: 0px;
}
#setupMenu .toggle-off {
    box-shadow: none;
    color: #898989;
    padding-left: 9px;
    background: transparent;
    right: -3px;
}
#setupMenu .toggle-off:hover {
    outline: none;
}
#setupMenu .toggle-on {
    padding-right: 10px;
    right: auto;
}
#setupMenu .toggle-group {
    top: -1px;
    -webkit-transition: left .15s;
}
/*-------------------------------------------------------------*/
/*-----blocking overlay-----*/
/*-------------------------------------------------------------*/
.blocking-overlay,
.panel-backdrop {
    display:none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(255,255,255,0.6);
    box-shadow: inset 0 0 25px #888;
}
.panel-backdrop {
    z-index: 1000;
    background: rgba(0,0,0,0.4);
}


.overlay-content {
    text-align: center;
    margin-top:calc(45vh - 50px);
    color: #666;
    text-shadow: 1px 1px 1px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.overlay-content img {
    height: 30px;
    margin-left:-14px;
}
/*-------------------------------------------------------------*/
/*-----button stuff-----*/
/*-------------------------------------------------------------*/
.btn {
    font-style: italic;
    margin: 3px 6px 3px 1px;
    color: #ffffff;
    border-radius: 0;
    border: 0px;
    transition: all .2s ease;
}

.btn-add {
    background: none;
    padding: 0 0 6px 3px;
    border-width: 0;
    color: #007700;
    vertical-align: middle;
    margin: 8px 0;
}

.btn-default, .btn-default:hover, .btn-default:focus {
    background-color: white;
    color: #606060;
    outline: 1px solid #606060;
    outline-offset: -1px;
    min-width: 80px;
}
.btn-default:hover, .btn-default:focus {
    background: #ebebeb;
    outline: 1px solid #898989;
}

.btn-primary,
.btn-unsaved {
    background-color: #3577b1 !important;
    transition: all .2s ease;
    min-width: 80px;
}

.btn-primary:hover,
.btn.unsaved:hover {
    background-color: #4499e3;
    color:white;
}

section .btn-primary:focus,
.btn-unsaved:focus,
.btn-danger:focus {
    outline: 2px solid rgba(99, 215, 253, .5) !important;
    color:white;
}
.btn-danger:focus {
    border:none;
    background-color: #e0383e;
}

.btn-primary.disabled, .btn-primary[disabled] {
    background-color: #ccc;
    color: rgba(255, 255, 255, .8);
}
.btn-danger {
    background-color: #d0343a;
    transition: all .2s ease;
}

.btn-danger:hover{
    background-color:#e0383e;
}

#id_description {
    width: 100%; 
    height: 200px;
}

td, th {
    padding-bottom: 8px;
    padding-right: 10px;
}

th, td label{
    padding-right: 20px;
    font-size: 11pt;
}

.result-table {
    table-layout: fixed;
}

.result-table tr th:first-child {
    width: 420px;
}

.result-table thead tr th {
    font-size: 16pt;
    font-weight: bold;
}

ul.minor {
    list-style-type: circle;
    color: #808080;
}
ul.minor li {
    font-size: 11pt;
}

select {
    margin: 8px 4px;
}

.progress .status-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #404040;
    line-height: 20px;
}
.progress {
    border-radius: 2px;
}
.progress-bar.done {
    background-color: #68be5e;
}
.placeholder {
    position: relative;
    margin-left: 16.66vw;
    height: 60px;
    padding-top: 20px;
}
.placeholder p {
    display:inline;
    font-size: 15px;
    color: #a1a1a1;
    font-weight: 300;
    margin-right: 10px;
}
.placeholder img {
    display:inline;
    width: 30px;
}
.placeholder:after {
    content: "";
    display: block;
    position: absolute;
    left: 130px;
    top: 20px;
    height: 20px; 
    background-color: white;
    opacity: .3;
    -webkit-animation: Placeholder-wash .98s infinite;
}
.placeholder#monitor {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}

@-webkit-keyframes Placeholder-wash {
    0% {left: 119px;
        width: 11px;}
    100% {left: 130px;
        width: 0px;}
}
/**********************/

.file_list li {
    font-size: 13px;
    line-height:27px;
    text-decoration: none;
    padding-left: 5px;
    position: relative;
}

.file_list.compact li {
    line-height: 18px;
}

.file_list {
    list-style: none;
    margin-bottom: 15px;
    max-width: 600px;
    position: relative;
}

.file_list a {
    color: #404040;
    text-decoration: none;
}

.file-buttons {
    position: absolute;
    right: 5px;
    top: 0;
}

.file_list .icon {
    margin-top: 5px;
    margin-left: 15px;
}
.delete-icon,
.copy-icon,
.open-button {
    margin-top: 5px;
    width: 15px !important; /*It isn't a valid animation without this width*/
    height: 18px;
    margin-right: 10px;
    display:block;
    float:right;
    opacity: 1;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties, CssUnknownTarget*/
.copy-icon {
    background-image: url('../icons/copy_sprite.png');
    background-position: 0 0;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties, CssUnknownTarget*/
.copy-icon:hover,
.copy-icon:focus {
    background-position: 15px  0 !important;
    background-image: url('../icons/copy_sprite.png') !important; /*It's not an icon without this background*/
    outline: none;
    background-color: transparent;
}

.open-button {
    background-image: url('../icons/open.png');
    background-size: 15px 18px;
    /*background-position: 0 0;*/
}

.warning-icon {
    background-image: url('../icons/warning-triangle.png') !important;/*It's not an icon without this background*/
    background-size: 17px 15px;
    margin-top: 3px;
    margin-bottom: 0px;
    width: 17px !important;
    height: 15px;
    margin-right: 10px;
    display:block;
    float:right;
    opacity: 1;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties, CssUnknownTarget*/
.delete-icon {
    background-image: url('../icons/delete_sprite.png');
    background-repeat-y: no-repeat;
    background-position: 0 2px;
}
.delete-icon:hover,
.delete-icon:focus {
    background-position: 15px 2px !important;
    background-image: url('../icons/delete_sprite.png') !important; /*It's not an icon without this background*/
    background-repeat-y: no-repeat;
    outline: none;
    background-color: transparent;
}

input[type=file], button {
    display: inline;
}

/*#div_id_name div input {
    min-width: 400px;
}*/


.file_list .defined{
    border-radius: 2px;
    margin-bottom: 2px;
}
.file_list .defined:hover {
    background: rgba(206, 199, 192, .25);
}
.file_list li.focused {
    background: rgba(206,199,192,.5);
    box-shadow: inset 0 0 0 1px #cec7c0;
    border-bottom: 1px solid transparent;
    position:relative;
}
.file_list li.focused:hover {
    background: rgba(206,199,192,.5);
}
.file_list .defined.focused:after {
    content:"";
    width: 25px;
    height: 2px;
    position:absolute;
    right: -25px;
    top: 13px;
    display: block;
    background-color: #cec7c0;
}
.file_list li.focused a{
    opacity: 1;
    color: black;
}
.file_list .defined a.defined_name:hover {
    color: black;
}
.file_list .defined a.defined_name:focus,
.file_list .defined a.defined_name:active {
    background: transparent !important;
    border:none !important;
    outline:none !important;
}
.file_list .defined_wrapper {
    white-space: nowrap;
    padding-right: 45px;
    position:relative;
}
.defined_name {
    display: inline-block;
    padding-left: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.defined_name:hover {
    cursor: default;
}
.file_list li:hover a{
    opacity: 1;
}

.defined_wrapper .delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    opacity: .6;
}
.defined_wrapper .copy-icon {
    position: absolute;
    top: 0;
    right: 20px;
    margin-right: 5px;
    opacity: 0.6;
}

.fat_checkbox,
.defined_wrapper input[type="checkbox"].fat_checkbox {/*A little ridiculous overriding bootstrap*/
    display: inline-block;
    margin-left: 1px;
    margin-right: 9px;
}

.nav-tabs { /*Hides the crispy forms tabs from the TabHolder*/
    display: none;
}
/*-------------------------------------------------------------*/
/*-----population.html-----*/
/*-------------------------------------------------------------*/
#population_main_panel {
    margin-top: 0;
    height: 100vh;
    padding-top: 48px;
    pointer-events: none;
}
section#population_main_panel h1:first-of-type {
    margin-bottom: 5px;
    margin-left: 210px;
    pointer-events: all;
}
#replace_population {
    padding-top: 3px;
    padding-left: 10px;
}
#farm_list table, #farm_list tr, #farm_list td {
    border-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}
#population_grid_wraper{
    margin-left: 190px;
    width: calc(100vw - 250px);
    padding: 10px;
    background: white;
    position: relative;
    display: block;
    border-radius: 2px;
    overflow-y:auto;
    pointer-events: all;
}

#population_map_container {
    min-height: 23.333vw;
}
#unit_map {
    padding: 0;
    margin: 0;
    width: calc(100% + 15px);
    float: left;
    margin-left: -15px;
    margin-top: -6px;
}
.map-fine-print {
    font-size: 12px;
}
#refresh_map {
    position: absolute;
    right: 20px;
    top: 0;
}
#clear_fitlers {
    margin-top: -10px;
}

/*************** Farm_list **********/
#farm_list_container{
    float: right;
    width: 49.98vw;
    overflow-x: auto;
    padding-left: 0px;
}

#farm_list table {
    table-layout: fixed;
    border-collapse: collapse;
    white-space: normal;
    border-spacing: 0;
    position: relative;
    width: 100%;
    min-width: 630px;
}
#farm_list thead:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0)));
    top: 30px;
    z-index: 10;
}
#farm_list thead{
    background-color: #808080;
    width: 100%;
    position: relative;
    white-space: nowrap;
    min-width: 660px;
}
#farm_list th{
    padding: 8px 0px 4px 10px;
    white-space: nowrap;
    background: transparent;
    color: white; 
    font-size: 13px;
    font-weight: 300;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
#farm_list td {
    width: 17%;
}
#farm_list th { /**--- this accounts for the 6px scroll bar taking up width in the table body---**/
    width: calc(17% - 1px);
}

#farm_list tbody{
    display: inline-block;
    height: calc(100vh - 218px);
    overflow-y: auto;
    width: 100%;
    position: relative;
}
#farm_list table:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    display: block;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0)));
    bottom: 0px;
}
#farm_list tr:nth-child(even) {
    background: #f7f7f7;
}
#farm_list td {
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    vertical-align: middle;
    height: 26px;
    position: relative;
}
#farm_list td a {
    position: absolute;
    left: 3px;
    top: 5px;
    display: none;
}
#farm_list td:nth-child(4), #farm_list td:first-child {
    padding-left: 0;
}
#farm_list select,
#farm_list input {
    padding-left: 10px;
    background-color: transparent;
    box-shadow: none;
}
#farm_list select:hover {
    border: none;
}
#farm_list input, #farm_list select{
    width: 100%;
}

/**#farm_list select,
#functions_panel select {
    -webkit-appearance: none;
    background-color: transparent;
    padding-left: 10px;
    pointer-events: none;
    box-shadow:none;
}
#farm_list input,
#functions_panel textarea,
#functions_panel input{
    background-color: transparent;
    padding-left: 10px;
    pointer-events: none;
    box-shadow: none;
    border: 0px;
}
#farm_list select.editable,
#functions_panel select.editable{
    -webkit-appearance: menulist;
    pointer-events: all;
}
#farm_list input.editable,
#functions_panel textarea.editable,
#functions_panel input.editable {
    border: 1px solid #ccc;
    pointer-events: all;
}*/
/*-------------------------------------------------------------*/
/*-----population filters-----*/
/*-------------------------------------------------------------*/

#population_filters {
    padding-top: 27px;
}
#farm_filter:before {
    content:"";
    width: 22.66vw;
    position: absolute;
    display: block;
    top:-17px;
    left:0;
    height: 1px;
    background: #ebebeb;
}
#population_filters span {
    display: block;
    width: 42px;
    height: 20px;
    background: white;
    text-transform: uppercase;
    font-size: 11px;
    color: #ccc;
    position: absolute;
    top: 15px;
    z-index: 10;
}
#farm_filter {
    font-size: 13px;
    position: relative;
    margin-top: 12px;
}
#farm_filter tr {
    height: 36px;
}
#farm_filter td {
    display: inline-block;
}
#initial_state td:first-child,
#production_type_name td:first-child {
    width: 100px;
}
#initial_size td:first-child,
#longitude td:first-child,
#latitude td:first-child {
    width: 66px;
}
#farm_filter select {
    margin: 0;
    width: 98px;
}
#farm_filter input {
    width: 60px;
    height: 21px;
}
#farm_filter #production_type__name td:nth-child(2),
#farm_filter #initial_state td:nth-child(2) {
    display:none;
}

@media screen and (max-width: 1250px) {
    #farm_filter tr {
        border-top: 1px solid #ebebeb;
    }
    #farm_filter tr:first-child {
        border-top: none;
    }
    #initial_size td:first-child,
    #longitude td:first-child,
    #latitude td:first-child {
    width: 100%;
    }
    #farm_filter td:first-child {
        font-size: 11px;
        text-transform: uppercase;
        padding-bottom: 0;
        width: 100%;
    }
    #farm_filter select {
        width: 200px;
    }
}
@media screen and (max-width: 1100px) {
    #population_grid_wraper {
        padding-bottom: 15px;
    }
    #population_grid_wraper form:first-of-type{
        float: left !important;
        padding-right: 0;
        margin-top: 303px;
    }
    #population_filters {
        position: absolute;
        width: 270px;
        top: 0;
        left: 0;
    }
    #farm_filter:before {
        width: 100%;
    }
    #population_map_container {
        position: absolute;
        width: 270px;
        left: 285px;
    }
     #unit_map {
        width: 285px;
    }
    #farm_list_container {
        float: left;
        padding-right: 0;
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    section h1:first-of-type {
        margin-left: 0;
    }
     #refresh_map {
        right: -297px;
        top: 285px;
    }
    #farm_filter {
        margin-top: 0;
    }
    #population_filters span {
        top: 4px;
    }
    #population_grid_wraper .help-block {
        float:left;
    }
}   


/*-------------------------------------------------------------*/
/*-----edit population-----*/
/*-------------------------------------------------------------*/
#edit-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    transition: all .3s ease;
}
#farm_list .help-block {
    margin-top: 8px;
}
#edit_population {
    position: absolute;
    top: calc(100vh - 172px);
    right: 25px;
    transition: opacity .2s ease
}
#population_grid_wraper .buttonHolder {
    float: right;
    clear: both;
    padding-right: 20px;
    padding-top: 10px;
}
#population_grid_wraper .buttonHolder {
    position: fixed;
    top: calc(100vh - 72px);
    right: 64px;
    padding: 0 !important;
    float: none;
    clear: none;
}

@media screen and (max-width: 1100px) {
    
    section#population_main_panel h1:first-of-type {
        margin-left: 204px;
    }
    #population_grid_wraper .buttonHolder {
        position: relative;
        float: right;
        top: 0;
        right: 0;
        clear: none;
        padding-top: 7px !important;
    }
    #population_grid_wraper .buttonHolder .btn:nth-child(2){
        margin-right: 0;
    }
    #edit_population {
        right: 10px;
        top: calc(100vh + 131px);
    }
}
@media screen and (max-width: 1140px) {
    #farm_list .help-block {
        font-size: 11px;
        margin-top:10px;
        top: 0;
    }
}
@media screen and (max-width: 960px) {
    #farm_list .help-block {
        width: 200px;
    }
}

/*-------------------------------------------------------------*/
/*----- -----*/
/*-------------------------------------------------------------*/

th .sortControls{
    opacity:0;
    transition: opacity .2s ease;
}
.sortControls a {
    color: white;
    transition: opacity .2s ease;
}
th:hover .sortControls{
    opacity:1;
}
.sortControls a{
    opacity:0.3;
}
.sortControls a:hover{
    opacity:.8;
}
.sortControls .glyphicon{
    width: 8px;
    font-size: 12px;
}
.sortControls a:focus {
    background: transparent;
    outline: 0;
    border: none;
}
.sortControls .glyphicon-arrow-down {
    top: 2px;
}


/********/

.type-warning {
    font-size: 14px;
    line-height: 24px;
}

.controls ul li label {  /*Radio buttons on multi-choice fields are giant without this */
    font-size: 10pt;
    font-weight: 400;
}

.model-banner {
    padding:5px 10px 0;
    color: white;
    font-size: 15px;
    max-width: 600px;
    line-height: 24px;
    color: #404040;
    position:relative;
}
.accordion-toggle:after{
    content:"";
    border-top: 6px solid #404040;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 14px;
}
.accordion-toggle.collapsed:after {
    content:"";
    border-top: 5px solid transparent;
    border-left: 6px solid #404040;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 3px;
    top: 11px;
}

.model-banner a{
    color:#404040;
    font-weight: 600;
    display:block;
    width: calc(100% - 30px);
    padding-left: 5px;
}

.model-banner a:hover,
.model-banner a:focus {
    text-decoration: none;
    border: none;
    outline: 0;
    background: transparent;
    background-repeat-y: no-repeat;
}
#left-panel .panel-group:not(:first-of-type) {
    border-top: 1px solid #ccc;
}
/*#left-panel .panel-group:last-of-type {
    border-bottom: 1px solid #ccc;
}*/
.panel-group {
    margin-bottom: 0;
}

table tbody span {
    width: 139px;
    line-height: 21px;
    display: block;
}

table tbody span:hover { /*necessary in addtion to disableSelection() to preserve cursor appearance*/
    cursor: pointer;
}

.relevant .selected, .highlight { /*column is relevant and user has selected the row for many-to many-widget.js*/
    font-weight: 600;
    background-color: #d7f5ff;
}

/*Disabled control fields: include text labels*/
[disabled] {
    opacity: .5;
}

.visually-disabled {
    opacity: .5;
    pointer-events: none;
}
/*-------------------------------------------------------------*/
/*----- simulation progress bar -----*/
/*-------------------------------------------------------------*/
#sim_progress_and_button {
    position: fixed;
    bottom: 10px;
    margin-left: 212px;
    display: block;
    height: 51px;
    width: calc(100% - 212px);
    border-top: 2px solid #606060;
    border-bottom: 2px solid #606060;
    z-index: 1;
    background-color: white;
}
#running_message {
    float: left;
    display: block;
    width: 175px;
    background-color: #606060;
    height: 100%;
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 50px;
    padding-left: 10px;
}

#sim_progress_and_button .btn, #sim_progress_and_button .progress {
}

#sim_progress_and_button .btn {
    width: 80px;
    padding: 0;
    background-color: #ba3e44;
    color: white;
    font-size: 15px ;
    line-height: 50px;
    font-style: italic;
    height: 100%;
    margin: 0;
    float:left;
}

#sim_progress_and_button .progress {
    width: 60%;
    margin: 0px;
    float:left;
    border-left: 2px solid #606060;
    border-right: 2px solid #606060;
    height: 100%;
    border-radius: 0;
    position: relative;
}
#sim_progress_and_button .progress:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.3);
    position: absolute;
}
.simulation-progress {
    background-color: #68be5e;
}
#iteration_text {
    height: 47px;
    overflow: auto;
    /* width: 30%; */
    background: rgba(255, 255, 255, .9);
    font-style: italic;
    color: #606060;
    line-height: 15px;
    padding: 0 10px;
}
#iteration_text li {
    margin-bottom: 3px;
}

.spacer {
    height: 100px;
}
@media screen and (max-width: 1200px) {
    #running_message {
        width: 140px;
        font-size: 13px;
        font-weight: 400;
    }
    #iteration_text {
        width: calc(40vw - 220px);
    }
}

/*-------------------------------------------------------------*/
/*-----vaccination triggers-----*/
/*-------------------------------------------------------------*/
.VaccTriggerParamWrapper {
    margin-left: 50px;
    width: 100%;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2);
    padding: 10px 20px;
}
.productiontypelist option, .grouplist option  {
    display:none;
    background-color: transparent;
}
.productiontypelist option[selected] , .grouplist option[selected]  {
    display: block;
    background-color: transparent !important;
    height: 24px;
    margin: 0 -10px 2px;
    padding: 4px 10px 0px 10px;
}
.productiontypelist option[selected]:hover, .grouplist option[selected]:hover  {
    background-color: #ebebeb;
}
  
select[multiple] {}

.productiontypelist, .grouplist  {
    margin-left: 0px;
    min-height: 84px;
    width: 400px;
    background-color: rgba(244, 230, 0, .2);
    display: block;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, .1);
    padding: 5px 10px;
}
.productiontypelist:after {
    content:"To add production types to the trigger click on a Type in the Population Panel";
    white-space: pre-wrap;
    font-style: italic;
    color: #808080;
}
#id_trigger_group:hover {
    padding-top: 4px;
    padding-bottom: 59px;
}
#id_trigger_group {
    background-image: none;
    padding-bottom: 60px;
}
#id_trigger_group select option:after {
    content: "click to remove";
    position:absolute;
    right: 0;
    font-size: 11px;
    color: #898989;
    font-style: italic;
    font-weight: 300;
}

/*----------------------------------------------------*/
/*----- Assign Disease Spread -----*/
/*----------------------------------------------------*/
.intro_text, #assign_spread_wrapper{
    padding: 0;
}
.intro_text, .intro_text p {
    color: #606060;
}
.m2mtable select, #all-interactions select {
    max-width: 260px;
}
#all-interactions {
    width: calc(100% - 0px);}
/*-------------------------------------------------------------*/
/*-----left aligned scrollbars-----*/
/*-------------------------------------------------------------*/
#center-panel .fragment, #left-panel {
    direction: rtl;
}
#center-panel .fragment form, #left-panel h1, #left-panel div {
    direction: ltr;
}
::-webkit-scrollbar-thumb {
    box-shadow: none !important;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.15) !important;
}
/*-------------------------------------------------------------*/
/*-----output settings-----*/
/*-------------------------------------------------------------*/
.inline_h2 {
    margin-bottom: 10px;
}
/*----------------------------------------------------*/
/*----- map key -----*/
/*----------------------------------------------------*/
#legend {
    display:block;
    position: absolute;
    bottom: 13px; 
    left: 15px;
    width: 146px;
    height: 110px;
    font-size: 10px;
    color: #606060;
    padding-left: 5px;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 3px;
}
#legend-left, #legend-right {
    padding-right: 10px;
    display:block;
    float: left;
    position: relative;
    height: 100%;

}
#legend-left {
    padding-right: 15px;
    width: 60px;
    height: 68px;
}
.legend-label {
    display:block;
    height: 20px;
}
#legend-left .legend-label {
    text-align: right;
    line-height: 12px;
}
#legend-right .legend-label {
    padding-top: 11px;
}

.legend-values {
    position: absolute;
    display:block;
    width: 100%;
    height: 100%;

}
#legend-left span:first-child {
    position:absolute;
    top: 0;
}
#legend-left span:last-child {
    position:absolute;
    bottom: 0;
}
#legend-left .legend-values:after {
    content: "";
    width: 15px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b326c), color-stop(16%,#0b326c), color-stop(17%,#335484), color-stop(33%,#335484), color-stop(34%,#59749a), color-stop(50%,#59749a), color-stop(51%,#7289aa), color-stop(66%,#7289aa), color-stop(67%,#c5cedc), color-stop(83%,#c5cedc), color-stop(84%,#ffffff), color-stop(100%,#ffffff)); 
    position: absolute;
    top: 0;
    left: 33px;
}
#legend-right {
    width: 70px;
}
#legend-right ul {
    margin-left: 0;
    padding-left: 0;
} 
#legend-right li {
    display: block;
    height: 20px;
    border-left: 20px solid #68be5e;
    margin-left: 0;
    margin-bottom: 4px;
    line-height: 20px;
    padding-left: 5px;
}
#legend-right li:first-child {
    border-color: #ba3e44;
}
#legend-right li:last-child {
    border-color: #606060;
}
@media screen and (max-height: 800px){
    #legend {
        transform: scale(.8);
        bottom: -3px;
        left: -3px;
        background-color: rgba(255,255,255,.4);
    }
}
/*----------------------------------------------------*/
/*----- results home -----*/
/*----------------------------------------------------*/
#summaryData th:first-child {
    width: 70%;
}
#summaryData td {
    vertical-align: top;
}
#summaryData tr td:nth-child(2) {
    padding-left: 10px;
}
#summaryData tr td{
    border-bottom: 1px solid #ebebeb;
}
#summaryData th {
    padding-bottom: 3px;
    padding-top: 10px;
}
#summaryData tr:first-of-type th{
    padding-top: 0;
}
#summaryData td {
    padding-bottom: 5px;
    padding-top: 5px;
}
@media screen and (max-width: 1200px){
    #summaryData th {
        font-size: 13px;
        padding-bottom: 0;
    }
    #summaryData td {
        font-size: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

/*----------------------------------------------------*/
/*----- global overrides -----*/
/*----------------------------------------------------*/
.action_link, .addNew a {
    background: transparent !important;
    color: #00bbef !important;
    border: none !important;
    outline: none !important;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    opacity: .7;
    transition: all .2s ease;
}
.btn-primary.action_link:hover,
.btn-primary.action_link:active,
.btn-primary.action_link:focus,
.btn-primary.action_link:visited,
.action_link:hover,
.action_link:active,
.action_link:focus,
.action_link:visited,
.addNew a:hover  {
    background: transparent;
    color: #00bbef !important;
    font-weight: 300;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
/*------------- navigation ----------------*/
    body>nav,
    #setupMenu a,
    #setupMenu a.active,
    #setupMenu h2,
    #setupMenu h3,
    #setupMenu h4 {
        width: 140px;
    }
    #setupMenu a {
        padding-left: 15px;
        font-size: 12px;
        font-weight: 400;
    }
    #setupMenu a.active {
        padding-left: 10px;
    }
    #setupMenu h3 a,  #setupMenu h4 a {
        padding-left: 22px;
    }
    #setupMenu h3 a.active,  #setupMenu h4 a.active {
        padding-left: 17px;
    }
    #setupMenu .toggle.btn {
        left: 89px;
    }
    #setupMenu-before,
    #setupMenu-after {
        width: 135px;
    }
    h2#RunSimulationIn,
    h2#RunSimulationRes {
        width: 135px;
    }
    #RunSimulationIn a,
    #RunSimulationRes a {
        font-size: 14px;
        padding-left: 15px;
    }
    #RunSimulationIn a:after {
        top: 19px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid #606060;
    }
    #RunSimulationRes a:after {
        top: 19px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 9px solid rgba(255, 255, 255, .8);
    }
    /*------------- toobar ----------------*/
    .TB_btn, .TB_btn .active, .TB_btn:focus {
        width: 35px;
        height: 35px;
        background-size: cover;
    }
    .TB_btn.active:before {
        display: none;
    }
    .TB_btn.active:after {
        top: 6px;
        height: 20px;
    }
    .TB_btn.active:hover::after {
        border-left: 7px solid #cdc7c0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .layout-panel.TB_panel {
        margin-right: 35px;
        width: calc(33.333vw - 50px);
    }
    .layout-panel.TB_panel.TB_panel_closed {
        margin-right: -33.3333vw;
    }
    /*-------------- header ----------*/
    header .header_logo {
        background-image:url('https://github.com/NAVADMC/ADSM/blob/gh-pages/images/adsm_logo_sm.png?raw=true');
        background-position: 30px;
        min-width: 0;
    }
    /*----- link graphic styling -----*/
    #center-panel .active_linking:before {
        right: -38px;
        top: 22px;
        width: 20px;
        height: 16px;
        border-right: 1px solid #cdc7c0;
        border-left: 1px solid #cdc7c0;
        border-top: none;
        border-bottom: none;
        -webkit-transform: rotate(90deg);
        background-size: 15px;
        background-position: 2px 5px;
    }
}
/*#sim_progress_and_button {*/
    /*visibility: hidden;*/
/*}*/

#summaryData {
    margin-left:20px;
    float: left;
    width: 25vw;
    padding-bottom: 80px;
}


