@import "../fonts/source-sans-pro/source-sans-pro.css";

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    box-sizing:border-box;
}

h2{
    font-size:15px;
    font-weight:600;
}

h3, h4 {
    font-size: 13px;
    font-weight: 400;
}

.panel-heading h1, .panel-heading h2, .panel-heading h3{
    margin: 0 0 5px 0;
}

section h1 {
    font-size: 16pt;
    margin-left: -15px;
}

section h1, section h2 {
    margin-bottom: 20px;
}

h3, h4 {
    font-weight: 400;
}

section h4 {
    font-size: 11pt;
}

a {
    color: #7cb9ff;
}

a:hover {
    color: #7cb9ff;
    /*with underline*/
}

a.wiki, a.wiki:visited {
    color: #B95E07;
}

.help-block {  
    font-weight: bold; /* check boxes are bold from mixins.less and I think it looks better with definitions*/
}

.help-inline strong {  /* validation errors from the server */
    background-color: #D13737;
    color: white;
}

.icon {
    max-height: 20px;
    max-width: 20px;
}

header {
    position: fixed;
    z-index: 100;
    background-color: #606060;
    width: 100%;
    height: 44px;
    top: 0;
    border-bottom: 4px solid black;
}

header a, header button {
    height: 35px;
    line-height: 35px;
}

header .btn, #header .btn {
    padding: 8px 10px 8px 10px;
}
header .buttonHolder {
    min-width: 256px;
}
header h1 {
    margin: 0 0px;
    float: left;
}

header div {
    width: 226px;
    overflow:auto;
    float: left;
}

.filename {
    float: left;
    width: 700px;
    padding: 0 20px;
    font-size: 20pt;
    font-weight: 400;
    background:#606060;
    color:white;
}

.filename input {
    border: none;
    width: 100%;
    color: #666;
}

header #admin_link {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0px;
}

body>nav {
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 170px;
}

body>section {
    margin-top: 44px;
    padding-top: 1px;
    margin-left:  220px;
    padding-left: 40px;
}

ul {
    padding-left: 5px; /*prevent style inheritance from above*/
}

#setupMenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 54px;
    margin-top:5px;
}

#setupMenu h2:first-child a{
    border-top:1px solid #eeeeee;
}

#setupMenu h2, #setupMenu h3, #setupMenu h4 {
    margin-top: 0;
    margin-bottom: 0; /* These are meant to stack */
    border-bottom:1px solid #eeeeee;
    -webkit-border-radius:0 2px 2px 0;
    overflow: hidden;
    white-space: nowrap;
}

#setupMenu a {
    color: #606060;
    display:block;
    text-decoration: none;
    line-height: 35px;
    padding-left: 15px;
    transition:background-color .2s ease;
}

#setupMenu a:hover{
    background-color:#eeeeee;
}

#setupMenu a.active:hover{
    background-color:#606060;
}

#setupMenu h3 a, #setupMenu h4 a {
    padding-left:30px;
}


#setupMenu .active {
    background-color: #606060;
    margin-right:15px;
    color:white;
    font-weight:400;
    -webkit-border-radius:0 4px 4px 0;
}

#setupMenu span {
    width: 5px;
    height: 35px;
    -webkit-border-radius:0 2px 2px 0;
}

#setupMenu .incomplete {
    font-weight: 600;
    font-style: italic;
    color: #999;
    background-color: #f6da40;
}

#setupMenu .completed, .completed {
    background-color: #68be5e;
}

#setupMenu .empty_subcategory {
    display: none;
}

#RunSimulation {
    position: fixed;
    bottom: 10px;
    left: 0;
    width:  170px;
    background-color:#68be5e;
}

#RunSimulation a {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size:18px;
    font-style:italic;
    transition: color .3s ease;
}
#RunSimulation:hover a, #RunSimulation:hover .glyphicon{
    background-color:#68be5e;
    color:black;
}

#RunSimulation a.tall {
    padding-top: 10px;
    height: 75px;
    line-height: 20px;
}

#RunSimulation .glyphicon {
    font-size: 21px;
    top: 3px;
    color:#606060;
    transition: all .3s ease;
    /*vertical-align: middle;*/
}

.blocking-overlay {
    display:none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(255,255,255,0.6);
    box-shadow: inset 0 0 25px #888;
}
.overlay-content {
    text-align: center;
    margin-top:calc(50vh - 50px);
    color: #666;
    text-shadow: 1px 1px 1px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.btn {
    font-style: italic;
    margin: 3px 1px 0px 1px;
    color: #ffffff;
    border-radius: 0;
    border: 0px;
}

.btn-add {
    background: none;
    padding: 0 0 6px 3px;
    border-width: 0;
    color: #007700;
    vertical-align: middle;
    margin: 8px 0;
}

.btn-default {
    background-color: #b1b1b1;
}

.btn-primary {
    background-color: #00477f;
}

.btn-primary :focus {
    background-color: #00477f;
    border-color: #3276b1;
}

.btn-primary.disabled, .btn-primary[disabled] {
    background-color: #7B8893;
}
.btn-danger {
    background-color: darkred;
}

.btn.unsaved {
    background-color: #7cb9ff;
}

.btn.unsaved:hover {
    background-color: #479DFF;
}

textarea {
    width: 400px;
    height: 70px;
}

#id_description {
    width: 602px; 
    height: 200px;
}

td, th {
    padding-bottom: 8px;
    padding-right: 10px;
}

th, td label{
    padding-right: 20px;
    font-size: 11pt;
}

.result-table {
    table-layout: fixed;
}

.result-table tr th:first-child {
    width: 420px;
}

.result-table thead tr th {
    font-size: 16pt;
    font-weight: bold;
}

ul.minor {
    list-style-type: circle;
    color: #808080;
}
ul.minor li {
    font-size: 11pt;
}

select {
    margin: 8px 4px;
}

.progress .status-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 -1px 1px #fff;
    font-size:1.2em
}
.progress-bar-mini {
    display:block;
    margin-top: -4px;
    margin-right: 8px;
    padding-bottom: 4px;
}
.progress-bar-mini .bar {
    height: 3px;
    background-color: #00477f;
}
.progress-bar-mini .bar.done, .progress-bar.done {
    background-color: #B6F3A7;
}

/**********************/

#file_list li {
    font-size: 14pt;
    text-decoration: none;
    border-bottom: 2px solid #d9d9d9;
}

#file_list {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 27px;
    max-width: 600px
}

#file_list a {
    color: black;
    text-decoration: none;
}

#file_list a:hover {
    color: #7cb9ff;;
}

#file_list .icon {
    margin-top: 5px;
    margin-left: 15px;
}

input[type=file], button {
    display: inline;
}

#div_id_name div input {
    min-width: 400px;
}

/**************************/

#farm_list {
    margin-bottom: 10px;
}

#farm_list{
    display: inline-block;
    max-height: 500px;
    max-width: 900px;
    overflow-y: auto;
    padding-right: 20px; /*for windows scrollbar*/
}

#farm_list input, #farm_list select{
    border: none;
    padding: 0px;
    margin: 0px;
}

#farm_list th{
    /*border: 1px solid black;*/
    font-size: 12pt;
    padding: 2px 8px 2px 0;
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(224,224,224,1) 100%);
    white-space: nowrap;
}

th .sortControls{
    opacity:0;
}
.sortControls a {
    color: darkgray;
}
th:hover .sortControls{
    opacity:1;
}
.sortControls a{
    opacity:0.7;
}
.sortControls a:hover{
    opacity:1;
}


body .modal-dialog {
    width: 50%;
    margin-left: 25%;
}

.type-warning {
    font-size: 14pt;
}

.controls ul li label {  /*Radio buttons on multi-choice fields are giant without this */
    font-size: 10pt;
    font-weight: 400;
}

.model-banner {
    background-color: #00477f;
    border:5px solid #00477f;
    color: white;
    font-size: 14pt;
    max-width: 600px;
    line-height: 27px;
}

.model-banner a{
    color:white;
}

a.collapsed img {
    -webkit-transform: scaleY(-1);
}

.icon-flipped {
    -webkit-transform: scaleX(-1);
}

table tbody span {
    width: 139px;
    line-height: 21px;
    display: block;
}

table tbody span:hover { /*necessary in addtion to disableSelection() to preserve cursor appearance*/
    cursor: pointer;
}

.relevant .selected, .highlight { /*column is relevant and user has selected the row for many-to many-widget.js*/
    font-weight: 600;
    background-color: #d7f5ff;
}

/*Disabled control fields: include text labels*/
[disabled] {
    opacity: .5;
}

.visually-disabled {
    opacity: .5;
    pointer-events: none;
}

#sim_progress_and_button {
    position: relative;
    display: table;
    margin-bottom: 20px;
}

#sim_progress_and_button .btn, #sim_progress_and_button .progress {
    display: table-cell;
    vertical-align: middle;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

#sim_progress_and_button .btn {
    /*display: inline-block;*/
    width: 80px;
    /*line-height: 20px;*/
    padding: 0;
    margin: 0 5px 0 0;
    background-color: #ba3e44;
    color: white;
    font-size: 15px ;
    /*font-family: Source Sans Semibold, sans-serif;*/
    font-style: italic;
}

#sim_progress_and_button .progress {
    /*display: inline-block;*/
    width: 60vw;
    margin: 0px;
}

.spacer {
    height: 100px;
}