.mapwrapper {
    height: calc(70vw * .866);
    width: 70vw;
    max-height: 75vh;
}
#viewport, #viewport2 {
    height: 100% !important;
    width: 100% !important;
    cursor: -webkit-grab;
    overflow: hidden;
}
#viewport:active, #viewport2:active {
    cursor: -webkit-grabbing;
}
#viewport div:first-child {
    width: 100% !important;
    height: 100% !important;
    background-size: contain !important;
    background-position: 0,0 !important;
}
.mapwrapper {
    position: relative;
}
.map-control {
    position: absolute;
    top: 50px;
    right: 10px;
    height: 63px;
    width: 100px;
}
.map-control a {
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -999em;
    position: absolute;
    outline: none;
}
.map-control a:hover {
    background: #535353;
    opacity: .4;
    filter: alpha(opacity=40);
}
.map-control a.left {
    left: 39px;
    top: 22px;
}
.map-control a.right {
    left: 79px;
    top: 22px;
}
.map-control a.up {
    left: 59px;
    top: 2px;
}
.map-control a.down {
    left: 59px;
    top: 42px;
}
.map-control a.zoom {
    left: 2px;
    top: 8px;
    height: 21px;
    width: 21px;
}
.map-control a.back {
    left: 2px;
    top: 31px;
    height: 21px;
    width: 21px;
}
/*---alternate styling---*/
.mapwrapper {
    height: calc(50vw * .866);
    width: 50vw;
    max-height: 5000px;
    float:left;
}

