/******** Source: https://css-tricks.com/examples/WebKitScrollbars/  ** https://css-tricks.com/custom-scrollbars-in-webkit/  ***********/


/* For the "inset" look only */
/*html {*/
    /*overflow: auto;*/
/*}*/
/*body {*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*bottom: 20px;*/
    /*right: 20px;*/
    /*padding: 30px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
/*}*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar:horizontal {
    height: 9px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: rgb(191, 191, 191); /* lightgray - 20 to increase visibility */
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170); /* gray - 20 to increase visibility */
}
::-webkit-scrollbar-thumb:active {
    background: rgb(160, 160, 160); /* :hover -10 */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(149, 149, 149); /* darkgray - 20 to increase visibility */
}


/* scrollbar-danger */
.scrollbar-danger::-webkit-scrollbar-thumb {
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: rgb(180, 10, 15);
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.5);
}
.scrollbar-danger::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 10, 15);
}
.scrollbar-danger::-webkit-scrollbar-thumb:active {
    background: rgb(150, 10, 15);
}
.scrollbar-danger::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(140, 10, 15);
}

.fragment .scrollbarhovertext {
    visibility: hidden;

    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}
