<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/spreadmodel.css" />
    <script src="{{ STATIC_URL }}js/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/spreadmodel.js"></script>
</head>
<body>
<header>
    <form class="ajax" method="post" action="/setup/SaveScenario/">
        <h1 class="filename">
            <img src="{{STATIC_URL}}icons/icon_4743/icon_4743.svg" width=32 height=32 alt=""/>
            <input type="text" name="filename" value="{{ filename }}">
        </h1>
        <h1><a id="new_scenario" href="/setup/NewScenario/">New </a></h1>
{#        <h1><a id="save_scenario" href="/setup/SaveScenario/">Save </a></h1>#}
        <input type="Submit" value="Save" class="btn btn-primary button white">
{#        <input type=​"submit" name=​"submit" value=​"Save" class=​"btn btn-primary button white" id="submit-id-submit">​#}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Success!</strong> File saved to {{ filename }}
        </div>
    </form>
    <div id="open_dialog">
        <h1><a href="/setup/Workspace/">Open</a></h1>
    </div>
</header>
{% block main %}

{% endblock %}
</body>
</html>