<div class="col-xs-4 TB_panel TB_panel_closed layout-panel" id="documentation_panel">
    <h2>ADSM Documentation</h2>
    <p>Helpful links...</p>
    <hr width="0%">
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/A-Quick-Start-Guide:-Running-the-sample-scenario" class="wiki" target="_blank">Quick Start Guide</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Model-Specification" class="wiki" target="_blank">Model Specifications</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Basics-of-Stochastic-Modeling" class="wiki" target="_blank">Basics of Stochastic Modeling</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Lexicon-of-Disease-Spread-Modelling-terms" class="wiki" target="_blank">Lexicon of Disease Spread Modelling Terms</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Probability-density-functions" class="wiki" target="_blank">PDF Overview</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Probability-Density-Functions-Overview" class="wiki" target="_blank">PDF White Paper</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Results-Interpretation" class="wiki" target="_blank">Results Overview</a></p>
    <p><a href="https://github.com/NAVADMC/ADSM/wiki/Data-Dictionary---Database-Overview" class="wiki" target="_blank">Data Dictionary</a></p>
    <hr width="0%">
    Refer to the <a href="https://github.com/NAVADMC/ADSM/wiki" class="wiki" target="_blank">wiki</a> for additional information
</div>