<div class="col-xs-4 TB_panel TB_panel_closed layout-panel" id="file_panel">
    <h2>Currently Open</h2>
    <div class="current">
        {% include 'ScenarioName.html' %}
    </div>
    <h2>Available Scenarios</h2>
    <ul class="file_list">
        {% for file in db_files %}
            <li><div class="ellipsis-title"><a class="open_scenario" href="/LoadingScreen/?loading_url=/app/OpenScenario/{{ file }}/">{{ file }}</a></div>
                <div class="buttonHolder file-buttons">
                    <a href="/LoadingScreen/?loading_url=/app/OpenScenario/{{ file }}/"  class="open_scenario open-button pull-right" title="Open Scenario"></a>
                    <a href="#" class="copy-icon pull-right" title="duplicate" data-copy-link="/app/Copy/{{ file }}/"></a>
                    <a href="#" class="delete-icon ajax-post pull-right" title="delete" data-delete-link="/app/DeleteFile/{{ file }}/"></a>
                    {#<a href="/app/Download/target={{ file }}" ><img alt="Download" src="{{ STATIC_URL }}icons/download.png" class="icon pull-right"></a>#}
                </div>
                </li>
        {% endfor %}
    </ul>
    <div class="text-center" style="position:absolute;bottom:20px;">
        <a id="discard_changes" href="#" data-discard-changes-link="/LoadingScreen/?loading_url=/app/OpenScenario/{{ filename }}" class="btn btn-danger">Discard Changes</a>
        <a id="new_scenario" href="#" data-copy-link="/LoadingScreen/?loading_url=/app/NewScenario/" class="btn btn-success">Create New</a>
        <a href="#" data-copy-link="/LoadingScreen/?loading_url=/app/ImportScenario/" class="btn btn-info">Import NAADSM Legacy Scenario</a>
    </div>
</div>