{% load render_bundle from webpack_loader %}
<div class="TB_panel TB_panel_closed layout-panel" id="population_panel">
    <a href="/setup/ProductionType/">+ define new production type</a>
    <h2><a href="/setup/ProductionGroup/">Production Type Groups</a></h2>
    <ul id="ProductionGroups">
        {% for group in ProductionGroups %}
            <li><a href="#">{{ group.name }}</a><span>
                {% for member in group.group.all %}
                    {{ member.name }},&nbsp;
                {% endfor %}</span></li>
        {% endfor %}
    </ul>
    <div id="group-creator"></div> {#load target#} 
    <a href='/setup/ProductionGroup/new' load-target='#group-creator'>+ define new group</a>

    <div id="population_panel_status">
        {% render_bundle 'commons.js' %}
        {% render_bundle 'population_panel_status' %}
    </div>
</div>