{% load render_bundle from webpack_loader %}
<div class="TB_panel TB_panel_closed layout-panel" id="population_panel">
    <div id="population_panel_status">
        {% render_bundle 'commons.js' %}
        {% render_bundle 'react_entry_point' %}
    </div>

    <div id="production_group_container">
        <h2><a href="/setup/ProductionGroup/">Production Type Groups</a></h2>
        <ul id="ProductionGroups">
            {% for group in ProductionGroups %}
                <li style = "height: auto">
                    <a class="pt-group-name">{{ group.name }}</a>
                    <span>
                        {% for member in group.group.all %}
                            {{ member.name }},&nbsp;
                        {% endfor %}
                    </span>
                </li>
            {% endfor %}
        </ul>
        <div id="group-creator"></div> {#load target#}
        <a href='/setup/ProductionGroup/new' load-target='#group-creator'>+ define new group</a>
    </div>

    <div style="position:absolute;bottom:20px;width:50%;left:25%;right:25%;">
        <a href="/LoadingScreen/?loading_url=/setup/ExportPopulation/xml" class="btn btn-info">Export Population as XML</a>
        <a href="/LoadingScreen/?loading_url=/setup/ExportPopulation/csv" class="btn btn-info">Export Population as CSV</a>
        <p class="help-text">The exported population will be saved in a folder titled "Exports" in your workspace folder.</p>
    </div>

</div>
