<div class="col-xs-4 TB_panel TB_panel_closed layout-panel" id="settings_panel">
    <h2>Application Settings</h2>
    You are running...
    <p><strong>{{dev_version}}</strong></p>

    <hr/>

    {% if update_version %}
        A newer version of ADSM is available.
        <p><strong>{{update_version}}</strong></p>

        {% if 'Error' in update_version %}
            <a href="#" class="btn btn-default" id="update_adsm">repair installation</a>
        {% else %}
            <a href="#" class="btn btn-default" id="update_adsm">update ADSM</a>
        {% endif %}

    {% endif %}
        <hr/>
{#    <input type="checkbox" checked>Automatically Check for Updates<br>#}
    <input type="checkbox" checked>Show inline help text and hints<br>
    <hr/>
    <a href="/app/Backend/" class="btn btn-default" style="display:inline;">Advanced Panel</a>

</div>