    <form class="ajax" method="post" action="/app/SaveScenario/">
        <h3 class="filename">
            <div class="edit-mask"></div>
            <input type="text" name="filename" value="{{ filename }}">
        </h3>
        <div id="file_actions" class="buttonHolder pull-right">
            {% spaceless %}

                <a href="#" class="copy-icon pull-right" title="duplicate" data-copy-link="/app/SaveScenario/"></a>
{#                <a href="#" class="delete-icon ajax-post pull-right" title="delete" data-delete-link="/app/DeleteFile/{{ file }}/"></a>#}
            {% endspaceless %}
        </div>
        <hr/>
        {% if failure_message %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error:</strong> {{ failure_message }}
            </div>
        {% endif %}
        {% if success_message %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Success!</strong> {{ success_message }}
            </div>
        {% endif %}
        <div class="scenario-status{% if unsaved_changes %} unsaved{% endif %}">
            <p>The file contains unsaved changes.  <input id="save_scenario" type="submit" value="Save" class="action_link"> changes?</p>
            <p id="unsaved-header">changes not saved to file... <input id="save_scenario" type="submit" value="Save" class="action_link"> changes?</p> <!--It is necessary for styling and immediate response time for this element to be part of the same div-->
        </div>
    </form>
