#header {
	background: #fff;
	border-bottom: 4px solid black;
	color:#111;
	font-size: 14pt;
}
#branding h1 {
	color: #111;
	font-weight: 600;
}
#header a:link, #header a:visited {
	color: #7cb9ff;
}
th, td, input, textarea, select, .form-row p {
	font-family: 'Source Sans Pro', sans-serif;
}

.module h2, .module caption, .inline-group h2  {
	background: #00477f;
	border: 5px solid #00477f;
	color: white;
	font-size: 14px;
}
#content-related .module h2 {
	border: 5px solid #eee;
	background: #eee;
}
#user-tools {
	display: none;
}