{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags %}

{% block content %}
    <script src="{{ STATIC_URL }}js/many-to-many-widget.js"></script>

    <h1 id="title">{{ title }}</h1>
    <div class="col-xs-9 intro_text">
        <p>Here you define how disease spreads from each production type to every other production type.  There are three
        types of spread:
            <ol>
                <li>Direct contact where two units coming in physical contact with one another. </li>
                <li>Indirect contact where units share objects, vehicles, or people in common. </li>
                <li>Airborne Spread where the disease itself can be carried in the air. Airborne spread can also be used for local area spread. </li>
            </ol>
        </p>

        <p>Since the number of possible contact pairs is exponential, you can use this page to select groups of production types that all 
        have similar Disease Spread parameters.  Select multiple production types in source and/or destination then use "Apply" to set them all to the same value.
        Or check your work by hand under "All Possible Interactions".</p>
    </div>
                
    <div id="assign_spread_wrapper">
        <div class="m2mtable"></div>

        <form method="post" action="">
            <p>{% include "ScenarioCreator/EditButtons.html" %}</p>
            <div id="include_spread_form">{{ include_spread_form.as_p }}</div>

            <div id="all-interactions" class="panel panel-default">
                <div class="panel-heading">
                    <h3>All Possible Interactions</h3>
                    Use this area to double check your work or submit individual changes.
                </div>
                {{ formset.management_form }}
                <table id="full_assign_spread">
                    <thead>
                        <tr>
                            {% for key, value in formset.0.fields.items %}
                                {% if value.label %}
                                    <th>{{value.label}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            {{form.id}}
                            {% form form using 'ScenarioCreator/FormRow.html' %}
                        {% endfor %}
                    </tbody>
                </table>
                {% include "ScenarioCreator/EditButtons.html" %}
            </div>
            
        </form>
    </div>

{% endblock %}