{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags %}

{% block content %}
    <script src="{{ STATIC_URL }}js/many-to-many-widget.js"></script>
    <script src="{{ STATIC_URL }}js/probability-functions.js"></script>

    <h1 id="title">{{ title }}</h1>

<form method="post" action="">
    <h1>All Possible Interactions</h1>
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                {% for key, value in formset.0.fields.items %}
                    {% if value.label %}
                        <th>{{value.label}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                {{form.id}}
                {% form form using 'ScenarioCreator/FormRow.html' %}
            {% endfor %}
     </tbody>
    </table>
    <input type="submit" name="submit" value="Submit" class="btn btn-primary button white" id="submit-id-submit">
</form>

{% endblock %}