{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags %}

{% block content %}
    <script src="{{ STATIC_URL }}js/many-to-many-widget.js"></script>
    <script src="{{ STATIC_URL }}js/probability-functions.js"></script>

    <h1 id="title">{{ title }}</h1>
    <div class="row">
        <p class="col-lg-6">Here you define how disease spreads from each production type to every other production type.  There are three
        types of spread: 1) Direct contact where two animals coming in physical contact with one another, 2) Indirect contact
        where animals share objects, vehicles, or people in common 3) Airborne Spread where the disease itself can be carried in the air.
        Airborne spread can also be used for local area spread.</p>
    </div>
    <div class="row">
        <p class="col-lg-6">Since the number of possible contact pairs is exponential, you can use this page to select groups of production types that all 
        have the same parameters.  Select multiple production types in source and/or destination then use "Apply" to set them all to the same value.
        Or check your work by hand under "All Possible Interactions".</p>
    </div>
    <div class="row">
    </div>
    <div class="row col-md-9">
       <div class="panel panel-default">
            <div class="panel-heading">
            <h3>All Possible Interactions</h3>
            Use this area to double check your work or submit individual changes.
            </div>
            <form method="post" action="">
                {{ formset.management_form }}
                <table>
                    <thead>
                        <tr>
                            {% for key, value in formset.0.fields.items %}
                                {% if value.label %}
                                    <th>{{value.label}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            {{form.id}}
                            {% form form using 'ScenarioCreator/FormRow.html' %}
                        {% endfor %}
                 </tbody>
                </table>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary button white" id="submit-id-submit">
            </form>
        
            </div>
        </div>
    </div>

{% endblock %}