
{% block content %}
    <h1>{{ title }}</h1>

    <div id="protocol_list">
        <div class="addNew"><a href="/setup/ControlProtocol/new/" load-target="#center-panel"><i> + New Control Protocol</i></a></div>

    </div>

    <script src="{{ STATIC_URL }}js/control-protocol.js"></script>
    <script>
        $(function() {  //wrapper in case the mode list gets reloaded by anything, this will re-run
            build_protocols_list();
            check_enabled_tabs(); //run once at the beginning
        });
    </script> {#   This script absolutely must be in the parent div list so that it reloads properly#}
{% endblock %}