{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
    {% if action %}
        <form class="ajax" action="{{ action }}" id="{{ action|action_id }}">
            {% crispy form %}
            {% include "ScenarioCreator/EditButtons.html" %}
        </form>
    {% else %}
        <form>
            {% crispy form %}
            {# Can't include EditButtons because it requires action to work outside the form. Must be included in forms.py #}
        </form>
    {% endif %}
{% endblock %}