{#{% extends 'ScenarioCreator/MainPanel.html' %}#}
{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags  %}

{% block content %}

    <h1 id="title"> {{ title }}</h1>
    
    <form class="ajax" action="{{ action }}" id="{{ action|action_id }}">
        {% crispy form %}
        {% include "ScenarioCreator/EditButtons.html" %}
    </form>

    {% if title == "Edit the Control Master Plan"%}
        <h1>ADSM provides a number of control measures that users can apply alone or in combination to change the progression of disease spread.</h1>
        <h2>Control measures vary in how they are applied:</h2>
        <ul>
            <li>Some measures are applied across all production types, and are parameterized under <strong>Global</strong> tabs.</li>
            <li>Some measures are applied at a production type level, and are parameterized in <strong>Control Protocol</strong>, and can be assigned to one or more production types.</li>
            <li>Some measures are more specific. Users define <strong>Zones</strong>, determine the parameters that are specific to each zone and production type in <strong>Zone Effects</strong>, and then users <strong>Assign Effects</strong> to associate those parameters to a production type.</li>
            <li><strong>Vaccination Triggers</strong> allow users to start and stop a vaccination program that was designed in the Control Protocol. <strong>Vaccination Rings</strong> and <strong>Vaccination Priorities</strong> further direct the action of the vaccination events.</li>
        </ul>
        <h2>Different Control Protocols can be created to affect different production types:</h2>
        <ul>
            <li><strong>Detection –</strong> has specific parameters and can also trigger the use of a Zone. Zones have more specific parameters which are set in the Zone section.</li>
            <li><strong>Tracing –</strong> equivalent to contact tracing: <ul>
                <li>&emsp;&emsp;<strong>Testing –</strong> requires tracing to be active, and tests only specific traced units</li>
                <li>&emsp;&emsp;<strong>Exams –</strong> requires tracing to be active, and exams only specific traced units</li>
            </ul></li>
            <li><strong>Destruction –</strong> has the option to preemptively destroy animals in a ring. A ring is the action area defined by the destruction parameter and differs from a zone.</li>
            <li><strong>Vaccination-</strong> has the option to vaccinate animals in a ring. A ring is the action area defined by the vaccination parameter and differs from a zone.</li>
            <li><strong>Cost Accounting –</strong> does not change outbreak, but allows users to enter costs that might be associated with a government response. Once costs are set, outputs must be toggled on in the <strong>Output Settings.</strong></li>
        </ul>
        <h2>General overview of the different tabs are as follows:</h2>
        <ul>
            <li><strong>Zones and Zone Effects</strong> describe the parameters related to radial zones and how actions change in those areas.</li>
            <li><strong>Vaccination Triggers</strong> are new to ADSM. There are 6 ways to start the vaccination program that was designed in the Control Protocol. It is also possible to stop vaccination, and restart using the same triggers at a different vaccination capacity.</li>
            <li><strong>Vaccination Rings and Vaccination Priorities</strong> are new to ADSM. They allow users more flexibility than simple ring vaccination around a detected unit. </li>
            <li><strong>Global Parameters (Vaccination and Destruction)</strong> are the parameters that act across all production types.</li>
            <li><strong>Output Settings</strong> are used to control runs and outputs of ADSM.</li>
        </ul>
    {% endif %}

{% endblock %}