{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
    {% if model_name == "ProbabilityFunction" %}
        <script src="{{ STATIC_URL }}js/probability-functions.js"></script>
    {% endif %}

{#    <h1 id="title">#}
{#    {% if model_link %}#}
{#        <a href="{{ model_link|parent_link }}">List {{ pretty_name }}s</a> &nbsp;> &nbsp;#}
{#    {% endif %}#}
{#    {{ title }}</h1>#}
    {% if action %}
        <form class="ajax" action="{{ action }}">
            {% crispy form %}
        </form>
    {% else %}
            {% crispy form %}
    {% endif %}
{% endblock %}