{% load db_status_tags %}

<div class="buttonHolder">
    {% if outputs_exist %}
        <button type="submit" class="btn btn-danger btn-save" form="{{ action|action_id }}" id="submit-id-submit">Delete Results and Apply changes</button>
    {% else %}
        <button type="button" class="btn btn-default btn-cancel" form="{{ action|action_id }}" id="id-cancel">Cancel</button>
        <button type="submit" class="btn btn-primary btn-save" form="{{ action|action_id }}" id="submit-id-submit" disabled>Apply</button>
    {% endif %}
    {% if backlinks %}
        <button type="submit" disabled class="btn btn-danger" form="{{ action|action_id }}" >Remove References before Deleting</button>
    {% elif deletable %}
        <a href="#" data-delete-link="{{deletable}}" class="btn btn-danger" form="{{ action|action_id }}" >Delete</a>
    {% endif %}
</div>