{% if backlinks %}
    <h3>Referenced by:</h3>
    <ul>
        {% for text, link in backlinks.items %}
            <li><a href="{{ link }}">{{ text }}</a></li>
        {% endfor %}
    </ul>    
{% endif %}

<div class="buttonHolder">
    {% if outputs_computed %}
        <button type="submit" class="btn btn-danger button white" id="submit-id-submit">Delete Results and Save changes</button>
    {% else %}
        <button type="submit" class="btn btn-primary button white" id="submit-id-submit">Save changes</button>
    {% endif %}
    {% if backlinks %}
        <button type="submit" disabled class="btn btn-danger button">Remove References before Deleting</button>
    {% elif deletable %}
        <a href="delete/" class="btn btn-danger button">Delete</a>
    {% endif %}
</div>