{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}

{% block content %}

<form method="post" action="">
    {{ formset.management_form }}
    <table>
        <tr>
            {% for key, value in formset.0.fields.items %}
                {% if value.label %}
                    <th><h4>{{value.label}}</h4></th>
                {% endif %}
            {% endfor %}
        </tr>
        <tbody>
            {% for form in formset %}
                    {% form form using 'ScenarioCreator/FormRow.html' %}
            {% endfor %}
     </tbody>
    </table>
    <input type="submit" name="submit" value="Submit" class="btn btn-primary button white" id="submit-id-submit">
</form>

{% endblock %}