{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 id="title">{{ title }}</h1>

<form method="post" action="">
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                {% for key, value in formset.0.fields.items %}
                    {% if value.label %}
                        <th>{{value.label}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                {{form.id}}
                {% form form using 'ScenarioCreator/FormRow.html' %}
            {% endfor %}
     </tbody>
    </table>
    {% include "ScenarioCreator/EditButtons.html" %}
</form>

{% endblock %}