{% extends 'ScenarioCreator/scenarioBase.html' %}
{% block content %}
    <h1>Population</h1>
    <h2>Production Types</h2>
    <ul>
        <li>Cattle</li>
        <li>Swine</li>
        <li>Chicken</li>
    </ul>
    <h2>Locations</h2>
    <table class="table table-striped table-condensed" style="max-width: 600px">
        <thead><tr>
            <th>ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Unit Size</th>
            <th>Status</th>
        </tr></thead>
    <tbody>
    <tr><td>1</td><td>32.94</td><td>34.71</td><td>332</td><td>Susceptible</td></tr>
    <tr><td>1</td><td>32.94</td><td>34.71</td><td>332</td><td>Susceptible</td></tr>
    <tr><td>1</td><td>32.94</td><td>34.71</td><td>332</td><td>Susceptible</td></tr>
    <tr><td>1</td><td>32.94</td><td>34.71</td><td>332</td><td>Susceptible</td></tr>
    <tr><td>1</td><td>32.94</td><td>34.71</td><td>332</td><td>Susceptible</td></tr>
    </tbody>
    </table>
    <p>The message of the day is: {{ motd }}</p>

{%  endblock %}