{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for model in models %}
        <div class="panel-group" id="accordion-{{forloop.counter}}">
            <div class="model-banner">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{forloop.counter}}" href="#sub-model{{forloop.counter}}">{{ model.name }}
                <span class="pull-right">
                    <img class="icon" src="{{ STATIC_URL }}icons/collapse.png" alt="collapse" />
                </span></a>
            </div>
            <div id="sub-model{{forloop.counter}}" class="panel-collapse collapse in" style="height: auto;">
                <ul id="file_list">
                    <li><a href="/setup/{{model.class}}/new/"><i> + New {{ model.name }}</i></a>

                    {% for entry in model.entries %}
                        <li><a href="/setup/{{model.class}}/{{entry.pk}}/">{{ entry }}</a>
                            <a href="#" class="delete-button" data-delete-link="/setup/{{model.class}}/{{entry.pk}}/delete/"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete" class="icon pull-right"></a>
                            <a href="/setup/{{model.class}}/{{entry.pk}}/copy/" ><img alt="Copy" src="{{ STATIC_URL }}icons/copy.png" class="icon pull-right"></a>
                            </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <p></p>

    <p class="help-text">{{ help_text }}</p>
{% endblock %}