{#{% extends 'ScenarioCreator/3Panels.html' %}#}
{% load floppyforms %}
{% load crispy_forms_tags  %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for model in models %}
        <div class="panel-group" id="accordion-{{forloop.counter}}">
            <div class="model-banner">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{forloop.counter}}" href="#sub-model{{forloop.counter}}">{{ model.name }}</a>
                {% if model.wiki_link %}
                    <a href="{{ model.wiki_link }}" class="wiki" target="_blank"><img src="/static/icons/TB_documentation_btn.png" width="18" height="18" border="1" style="border:1px solid black;"></a>
                {% endif %}
            </div>
            <div id="sub-model{{forloop.counter}}" class="panel-collapse collapse in" style="height: auto;">
                <ul class="file_list compact">
                    
                    {% for entry in model.entries %}
                        <li class="defined">
                            <div class="defined_wrapper">
                                <a class="defined_name" href="/setup/{{model.class}}/{{entry.pk}}/" load-target="{{load_target}}">{{ entry }}</a>
                                {% if not 'Function' in  model.name %}
                                    <a href="#" class="delete-icon pull-right" title="delete" data-delete-link="/setup/{{model.class}}/{{entry.pk}}/delete/"></a>
                                {% endif %}
                                <a href="/setup/{{model.class}}/{{entry.pk}}/copy/" load-target="{{load_target}}" class="copy-icon pull-right" title="duplicate"></a>
                            </div>
                        </li>
                    {% endfor %}

                    <li class="addNew"><a href="/setup/{{model.class}}/new/" load-target="{{load_target}}"><i> + New {{ model.name }}</i></a></li>
                </ul>
            </div>
        </div>
    {% endfor %}
    <p></p>

    <p class="help-text">{{ help_text }}</p>

{% endblock %}