{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="model-banner">{{ model_name }}<span class="pull-right"><img src="{{ STATIC_URL }}icons/collapse.png" alt="collapse" class="icon"/></span></div>
    <ul id="file_list">
        <li><a href="/setup/{{model}}/new/"> + New {{ model_name }}</a>

        {% for entry in entries %}
            <li><a href="/setup/{{model}}/{{entry.pk}}/">{{ entry }}</a>
                <a href="#" class="delete-button" data-delete-link="/setup/{{model}}/{{entry.pk}}/delete/"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete" class="icon pull-right"></a>
                <a href="/setup/{{model}}/{{entry.pk}}/copy/" ><img alt="Copy" src="{{ STATIC_URL }}icons/copy.png" class="icon pull-right"></a>
                </li>
        {% endfor %}
    </ul>

    <p></p>

    <p class="help-text">{{ help_text }}</p>
{% endblock %}