{% extends 'base.html' %}
{% load db_status_tags %}

{% block main %}
    <nav>
        <ul id="setupMenu">
            <li><a href="/setup/Scenario/1/"
                   class="{% form_completed Scenarios %}"
                    >Scenario Settings</a>
                <ul><li><a href="/setup/OutputSettings/1/">Output Settings</a></li></ul></li>
            <li><a href="#">Population</a>
                <ul><li><a href="/setup/ProductionType/new/">Production Types</a></li>
                    <li><a href="/setup/DynamicUnit/new/">Farm Locations</a></li>
                </ul></li>
            <li><a href="/setup/Disease/1/">Disease</a>
                <ul><li><a href="/setup/DiseaseReaction/new/">Disease Reaction</a></li>
                    <li><a href="/setup/DiseaseSpread/">Disease Spread</a>
                        <ul><li><a href="/setup/DirectSpreadModel/new/">Direct Spread</a></li>
                            <li><a href="/setup/IndirectSpreadModel/new/">Indirect Spread</a></li>
                            <li><a href="/setup/AirborneSpreadModel/new/">Airborne Spread</a></li></ul></li>
                    <li><a href="/setup/ProductionTypePairTransmission/new/">Animal Infection</a></li>
                </ul></li>
            <li><a href="/setup/ControlMasterPlan/1/">Controls</a>
                <ul><li><a href="/setup/ControlProtocol/new/">Control Protocol</a>
                    <ul><li><a href="#destruction">Destruction</a></li>
                        <li><a href="#vaccination">Vaccination</a></li>
                        <li><a href="#tracing">Tracing</a></li>
                        <li><a href="#cost-accoutning">Accoutning</a></li></ul></li>
                    <li><a href="/setup/Zone/new/">Zones</a>
                        <ul><li><a href="/setup/ZoneEffectOnProductionType/new/">Zone Effects</a></li></ul></li></ul></li>
        </ul>
    </nav>
<section>
    {% block content %}

    {% endblock %}
</section>
{% endblock %}