{% extends 'base.html' %}
{% load db_status_tags %}

{% block main %}
    <span id="setupMenu-before"></span>
    <nav id="setupMenu">
         
            <h2 class="tab-list"><a href="/setup/Scenario/1/" class="{{ "Scenario"|active:active_link}}">
                <span class="pull-right {{Scenario|completed}}"> </span>Scenario Description</a></h2>
            <h2 class="tab-list"><a href="/setup/Populations/" class="{{"Populations"|active:active_link}}">
                <span class="pull-right {{Population|completed}}"> </span>Population</a></h2>
            <h2 class="tab-list"><a href="/setup/Disease/1/" class="{{"Disease/1/"|active:active_link}}">
                <span class="pull-right {{Disease|completed}}"> </span>Disease</a>
                    <h3 class="tab-list"><a href="/setup/AssignProgressions/" class="{{"AssignProgressions"|active:active_link}}">
                    <span class="pull-right {{Progressions|completed}}"> </span>Disease Progression</a></h3>
                    <h3 class="tab-list"><a href="/setup/DiseaseSpread/" class="{{"DiseaseSpread"|active:active_link}}">
                        <span class="pull-right {{DirectSpreads|completed}}"> </span>Disease Spread</a>
                         <h4 class="tab-list"><a href="/setup/AssignSpreads/" class="{{"AssignSpreads"|active:active_link}}">
                            <span class="pull-right {{AssignSpreads|completed}}"> </span>Assign Disease Spread</a></h4> </h3>
                 </h2>
            <h2 class="tab-list"><a href="/setup/ControlMasterPlan/1/" class="{{"ControlMasterPlan"|active:active_link}}">

                <span class="pull-right {{ControlMasterPlan|completed}}"> </span>Controls</a>
                {% if 'Import' not in active_link %}<input id="id_disable_all_controls" type="checkbox"
                       {%if controls_enabled %}checked {% endif %}
                       data-toggle="toggle" data-size="mini" data-onstyle="success">
                {% endif %}
                {% if controls_enabled %}
                 <h3 class="tab-list"><a href="/setup/VaccinationTrigger/" class="{{"VaccinationTrigger"|active:active_link}}">
                        <span class="pull-right {{VaccinationTrigger|completed}}"> </span>Vaccination Triggers</a></h3>
                 <h3 class="tab-list"><a href="/setup/VaccinationRingRule/" class="{{"VaccinationRingRule"|active:active_link}}">
                        <span class="pull-right {{VaccinationRingRule|completed}}"> </span>Vaccination Rings</a></h3>
                 <h3 class="tab-list"><a href="/setup/VaccinationPriorities/" class="{{"VaccinationPriorities"|active:active_link}}">
                        <span class="pull-right {{VaccinationRingRule|completed}}"> </span>Vaccination Priorities</a></h3>{# not a separate completed flag #}

                 <h3 class="tab-list"><a href="/setup/ControlProtocol/" class="{{"ControlProtocol"|active:active_link}}">
                        <span class="pull-right {{Protocols|completed}}"> </span>Control Protocol</a></h3>
                    <h4 class="tab-list"><a href="/setup/AssignProtocols/" class="{{"AssignProtocols"|active:active_link}}">
                        <span class="pull-right {{ProtocolAssignments|completed}}"> </span>Assign Protocols</a></h4>
                 <h3 class="tab-list"><a href="/setup/Zone/" class="{{"Zone/"|active:active_link}}">
                     <span class="pull-right {{Zones|completed}}"> </span>Zones</a></h3>
                      <h4 class="tab-list"><a href="/setup/AssignZoneEffects/" class="{{"AssignZoneEffects"|active:active_link}}">
                         <span class="pull-right {{ZoneEffects|completed}}"> </span>Zone Effects</a></h4>
                {% endif %}
            </h2>
            <h2 class="tab-list"><a href="/setup/OutputSettings/1/" class="{{"OutputSettings"|active:active_link}}">
                <span class="pull-right {{OutputSetting|completed}}"> </span>Output Settings</a></h2>

            <h2 id="RunSimulationIn" class="tab-list">
                {% if outputs_exist %}
                    <a href="/results/" class="completed ">
                    View Results </a>
                {% else %}
                    {% if dry_run_passed %}
                        <a href="/LoadingScreen/?loading_url=/results/RunSimulation/" class=" {{Simulation_ready|completed}}">
                        Run Simulation </a>
                    {% else %}
                        <a href="/setup/ValidateScenario/" class=" {{Simulation_ready|completed}}">
                        Validate Scenario </a>
                    {% endif %}
            {% endif %}
            </h2>
         
    </nav>
    <span id="setupMenu-after"></span>

    {% block main_layout %}
        <section id="main-panel" class="layout-panel col-xs-8 center-block">
            {% block content %}
    
            {% endblock %}
            {% if base_page %}
                {% include base_page %}
            {% endif %}
        </section>
    {% endblock %}
    
    {% if outputs_exist %}
        {% include "Results/SimulationProgressBar.html" %}
    {% endif %}
    
{% endblock %}