{% extends 'base.html' %}
{% load db_status_tags %}

{% block main %}
    <nav>
        <ul id="setupMenu">
        {% if not display_output_nav %}
            <li><a href="/setup/Scenario/1/" class="{{ "Scenario"|active:active_link}}">
                <span class="pull-right {{Scenario|completed}}"> </span>Scenario Description</a></li>
            <li><a href="/setup/Populations/" class="{{"Populations"|active:active_link}}">
                <span class="pull-right {{Population|completed}}"> </span>Population</a></li>
            <li><a href="/setup/Disease/1/" class="{{"Disease"|active:active_link}}">
                <span class="pull-right {{Disease|completed}}"> </span>Disease</a>
                <ul><li><a href="/setup/DiseaseProgression/" class="{{"DiseaseProgression"|active:active_link}}">
                    <span class="pull-right {{Progressions|completed}}"> </span>Disease Progression</a>
                    <ul><li><a href="/setup/AssignProgressions/" class="{{"AssignProgressions"|active:active_link}}">
                        <span class="pull-right {{ProgressionAssignment|completed}}"> </span>Assign Progression</a></li></ul></li>
                    <li><a href="/setup/DiseaseSpread/" class="{{"DiseaseSpread"|active:active_link}}">
                        <span class="pull-right {{DirectSpreads|completed}}"> </span>Add Disease Spread</a>
                        <ul><li><a href="/setup/AssignSpreads/" class="{{"AssignSpreads"|active:active_link}}">
                            <span class="pull-right {{DirectSpreads|completed}}"> </span>Assign Disease Spread</a></li></ul></li>
                </ul></li>
            <li><a href="/setup/ControlMasterPlan/1/" class="{{"ControlMasterPlan"|active:active_link}}">
                <span class="pull-right {{ControlMasterPlan|completed}}"> </span>Controls</a>
                {% if controls_enabled %}
                <ul><li><a href="/setup/ControlProtocol/" class="{{"ControlProtocol"|active:active_link}}">
                        <span class="pull-right {{Protocols|completed}}"> </span>Control Protocol</a></li>
                    <li><a href="/setup/AssignProtocols/" class="{{"AssignProtocols"|active:active_link}}">
                        <span class="pull-right {{ProtocolAssignments|completed}}"> </span>Protocol Assignments</a></li>
                    <li><a href="/setup/Zone/" class="{{"Zone"|active:active_link}}">
                        <span class="pull-right {{Zones|completed}}"> </span>Zones</a>
                        <ul><li><a href="/setup/ZoneEffectOnProductionType/" class="{{"ZoneEffectOnProductionType"|active:active_link}}">
                            <span class="pull-right {{ZoneEffects|completed}}"> </span>Zone Effects</a></li></ul></li>
                </ul> {% endif %}
            </li>
            <li><a href="/setup/Function/" class="{{"Function"|active:active_link}}">
                <span class="pull-right {{ProbabilityFunctions|completed}}"> </span>Functions</a></li>
            <li><a href="/setup/OutputSettings/1/" class="{{"OutputSettings"|active:active_link}}">
                <span class="pull-right {{OutputSetting|completed}}"> </span>Output Settings</a></li>
            <li id="RunSimulation"><a href="/setup/RunSimulation/" class="{{"RunSimulation"|active:active_link}} {{Simulation|completed}}">
                Run Simulation <i class="glyphicon glyphicon-play"></i></a></li>
        {% else %}
            <li><a href="/results/Population/" class="{{"Population"|active:active_link}}">Population</a></li>
            <li><a href="/results/Disease/" class="{{"Disease"|active:active_link}}">Disease</a>
                <ul><li><a href="/results/Exposures/" class="{{"Exposures"|active:active_link}}">Exposures</a></li>
                    <li><a href="/results/Infections/" class="{{"Infections"|active:active_link}}">Infections</a></li>
                    <li><a href="/results/Morbidity/" class="{{"Morbidity"|active:active_link}}">Morbidity</a></li>
                </ul></li>
            <li><a href="/results/ControlActivity/" class="{{"ControlActivity"|active:active_link}}">Control Activity</a>
                <ul><li><a href="/results/Detection/" class="{{"Detection"|active:active_link}}">Detection</a></li>
                    <li><a href="/results/Tracing/" class="{{"Tracing"|active:active_link}}">Tracing</a></li>
                    <li><a href="/results/Testing/" class="{{"Testing"|active:active_link}}">Testing</a></li>
                    <li><a href="/results/Destruction/" class="{{"Destruction"|active:active_link}}">Destruction</a></li>
                    <li><a href="/results/Vaccination/" class="{{"Vaccination"|active:active_link}}">Vaccination</a></li>
                    <li><a href="/results/Zones/" class="{{"Zones"|active:active_link}}">Zones</a></li></ul> </li>
            <li><a href="/results/Cost/" class="{{"Cost"|active:active_link}}">Cost Accounting</a></li>

            <li id="RunSimulation"><a href="/results/Inputs/" class="{{"Inputs"|active:active_link}} completed">
               <i class="glyphicon glyphicon-play icon-flipped"></i> Back to Inputs </a></li>
        {% endif %}
        </ul>
    </nav>
    <section>
        {% block content %}

        {% endblock %}
    </section>
{% endblock %}