{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}

{% block content %}
{% if not Population %}
    <h1 id="title">Load a Population</h1>
    <form id="file-upload" method="post" action="/setup/UploadPopulation/" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/x-sqlite3" file-upload="">
        <button type="submit" class="btn btn-primary">Upload a Population &nbsp<img src="{{ STATIC_URL }}icons/upload.png" class="icon"></button>
        <p class="help-block">You can upload a file from anywhere on your computer and it will be imported to the ADSM workspace.</p>
    </form>

    <script type="text/javascript" src="{{ STATIC_URL }}js/population_uploader.js"></script>

{% else %}
    <h1>Current Units:</h1>
{#    TODO Separate FIlter Template#}
    <h4 class="pull-left">Filter By: &nbsp</h4>
    <table id="farm_filter_templates" hidden>
        <tr id="production_type__name">
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name" selected>Production Type</option>
                <option value="latitude">Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="initial_state">Initial State</option>
                <option value="initial_size">Initial Size</option>
            </select></td>
            <td> = </td>
            <td><select name="production_type__name">
                {% for option in filter_info.select_fields.production_type__name %}
	                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
                </select></td>
        </tr>
        <tr id="initial_state">
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name">Production Type</option>
                <option value="latitude">Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="initial_state" selected>Initial State</option>
                <option value="initial_size">Initial Size</option>
            </select></td>
            <td> = </td>
            <td><select name="state">
                {% for option in filter_info.select_fields.initial_state %}
	                <option value="{{ option.0 }}">{{ option.1 }}</option>
                {% endfor %}
                </select></td>
        </tr>

        <tr id="initial_size">
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name">Production Type</option>
                <option value="latitude">Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="initial_state">Initial State</option>
                <option value="initial_size" selected>Initial Size</option>
            </select></td>
            <td><select>
                <option value="__gte">>=</option>
                <option value="__lte"><=</option>
            </select></td>
            <td><input name="initial_size" step="any" type="number"></td>
        </tr>

        <tr id="longitude">
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name">Production Type</option>
                <option value="latitude">Latitude</option>
                <option value="longitude" selected>Longitude</option>
                <option value="initial_state">Initial State</option>
                <option value="initial_size" >Initial Size</option>
            </select></td>
            <td><select>
                <option value="__gte">>=</option>
                <option value="__lte"><=</option>
            </select></td>
            <td><input name="initial_size" step="any" type="number"></td>
        </tr>
        <tr id="latitude">
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name">Production Type</option>
                <option value="latitude" selected>Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="initial_state">Initial State</option>
                <option value="initial_size" >Initial Size</option>
            </select></td>
            <td><select>
                <option value="__gte">>=</option>
                <option value="__lte"><=</option>
            </select></td>
            <td><input name="initial_size" step="any" type="number"></td>
        </tr>


        <tr>
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name">Production Type</option>
                <option value="latitude">Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="initial_state">Initial State</option>
                <option value="initial_size">Initial Size</option>
            </select></td></tr>
    </table>
    <table id="farm_filter"><tbody>
        <tr>
            <td><select name="filter1">
                <option value="None">----------</option>
                <option value="production_type__name">Production Type</option>
                <option value="latitude">Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="initial_state">Initial State</option>
                <option value="initial_size">Initial Size</option>
            </select></td></tr>
    </tbody></table>


    <form method="post">
    <form method="post" action="/setup/UploadPopulation/" enctype="multipart/form-data">
    {#    {% crispy form %}#}
        <div id="farm_list">  {#So it can be targetted by CSS #}
            {% include "ScenarioCreator/EmbeddedFormset.html" %}
        </div>
        {% include "ScenarioCreator/EditButtons.html" %}
    </form>
{% endif %}
{% endblock %}