{# Similar to EmbeddedFormset but includes links for sorting by column #}
<form method="post" class="{{ editable }} " style="float:right;">
<div id="farm_list_container" class="col-xs-8">
    <div id="farm_list">  {#So it can be targetted by CSS #}


    {% load cycle from future%}
    {{ formset.non_form_errors.as_ul }}
    {{ formset.management_form }}
    <table id="formset" class=""  >
        {% for form in formset.forms %}
            {% if forloop.first %}
                <thead><tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}
                            <span class="sortControls">
                                <a href="#" data-sort-by="-{{field.name}}"><i class="glyphicon-arrow-up glyphicon"></i></a>
                                <a href="#" data-sort-by="{{field.name}}"><i class="glyphicon-arrow-down glyphicon"></i></a>
                            </span>
                        </th>
                    {% endfor %}
                </tr></thead>
            {% endif %}
            <tr class="{% cycle 'row1' 'row2' %}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if formset.forms|length < 1 %}
            <thead><tr><th>Production type</th><th>Latitude</th><th>Longitude</th><th>Initial state</th><th>Initial size</th></tr></thead>
            <tr class="row1"><td>No Units match this filter criteria.</td></tr>
        {% endif %}
    </table>
    <p class="help-block"><em>Showing the first 100 Units.  Use sort and filters to find specific Units.</em></p>
    <div class="buttonHolder population-buttons">
        <button type="submit" class="btn btn-primary btn-save" formnovalidate id="submit-id-submit" disabled="disabled">Apply</button>
        <a type="submit" href="/setup/Populations/" class="btn btn-default" >Cancel</a>
    </div>

    </div>
</div>
</form>
