{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
    <form id="{{ action|action_id }}" class="ajax probability-form" action="{{ action }}">

        <a href="{{ action }}graph.png" download class="download-overlay-container">
            <img id="function-graph" src="{{action}}graph.png" class="download-overlay-image">
            <div class="download-overlay-base">
                <div class="download-overlay-text">Click to Download</div>
            </div>
        </a>

        <p style="margin-bottom:15px;">Click on the graph to download the highest possible resolution.</p>

        {% crispy form %}
        {% include "ScenarioCreator/ViewEditButtons.html" %}
    </form>
{% endblock %}