{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
<form id="{{ action|action_id }}" class="ajax relational-form"  method="post" action="{{ action }}" enctype="multipart/form-data">

    <img id="function-graph" src="{{action}}graph.png" class="img-responsive">

    <div class="btn btn-info" style="margin: 0px auto 0px auto; display: block;" onclick=
    "
    $.ajax({
        url: '/setup/ExportRelGraph/',
        data: {
            'graph_src': '{{ action }}'
        },
        dataType: 'json'
    });
    "
    >Export Graph for Publication</div>
    <p class="help-block" style="margin-bottom:15px;">Graph will save in the current scenario's workspace folder.</p>

    {% crispy form %}
    <label for="file">Or Import Points from File... &nbsp</label>
    <input type="file" id="file" name="file" accept=".csv">

    {% include "ScenarioCreator/RelationalEmbeddedFormset.html" %}
    <script>
        $(document).on('submit', '.relational-form', function(){
            $('#formset tbody tr').each(function(){
                var x = $(this).find('td:first-child input:nth-child(3)').first().val()
                var y = $(this).find('td:nth-child(2) input:first-child').first().val()
                if(x === '' && y === ''){
                    $(this).find('td:nth-child(3) input:first-child').first().attr('checked','checked')
                }
            })
        });
    </script>
    {% include "ScenarioCreator/ViewEditButtons.html" %}

</form>
{#    {% crispy formset helper %}#}
{% endblock %}

