{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
<form id="relational-form" class="ajax"  method="post" action="{{ action }}" enctype="multipart/form-data">
    
{#    <h2 id="title">{{ title }}</h2>#}
    {% crispy form %}
    <label for="file">Or Import Points from File... &nbsp</label>    
    <input type="file" id="file" name="file" accept=".csv">

    {% include "ScenarioCreator/EmbeddedFormset.html" %}
    {% include "ScenarioCreator/EditButtons.html" %}
    <script>
        $(document).on('submit', '#relational-form', function(){
            $('#formset tbody tr').each(function(){
                var x = $(this).find('td:first-child input:nth-child(3)').first().val()
                var y = $(this).find('td:nth-child(2) input:first-child').first().val()
                if(x === '' && y === ''){
                    $(this).find('td:nth-child(3) input:first-child').first().attr('checked','checked')
                }
            })
        });
    </script>
</form>
{#    {% crispy formset helper %}#}
{% endblock %}

