{% extends 'base.html' %}

{% block main %}
    <nav>
        <ul id="setupMenu">
            <li><a href="#">Population</a>
                <ul><li><a href="#">Production Types</a></li>
                    <li><a href="#">Locations</a></li></ul></li>
            <li><a href="#">Disease</a></li>
            <li><a href="#">Disease Spread</a></li>
            <li><a href="#">Zones</a></li>
            <li><a href="#">Destruction</a></li>
            <li><a href="#">Vaccination</a></li>
            <li><a href="#">Tracing</a></li>
        </ul>
    </nav>
<section>
{% block content %}

{% endblock %}
</section>
{% endblock %}