{% extends 'base.html' %}

{% block main %}
    <nav>
        <ul id="setupMenu">
            <li><a href="/setup/Scenario/new/">Scenario Settings</a>
                <ul><li><a href="/setup/OutputSettings/new/">Output Settings</a></li></ul></li>
            <li><a href="#">Population</a>
                <ul><li><a href="/setup/ProductionType/new/">Production Types</a></li>
                    <li><a href="/setup/DynamicUnit/new/">Farm Locations</a></li>
                </ul></li>
            <li><a href="/setup/Disease/new/">Disease</a>
                <ul><li><a href="/setup/DiseaseReaction/new/">Disease Reaction</a></li>
                    <li><a href="/setup/DiseaseSpread/">Disease Spread</a>
                        <ul><li><a href="/setup/DirectSpreadModel/new/">Direct Spread</a></li>
                            <li><a href="/setup/IndirectSpreadModel/new/">Indirect Spread</a></li>
                            <li><a href="/setup/AirborneSpreadModel/new/">Airborne Spread</a></li></ul></li>
                    <li><a href="/setup/ProductionTypePairTransmission/new/">Animal Infection</a></li>
                </ul></li>
            <li><a href="/setup/ControlMasterPlan/new/">Controls</a>
                <ul><li><a href="/setup/ControlProtocol/new/">Control Protocol</a>
                    <ul><li><a href="/setup/ControlProtocol/new/">Destruction</a></li>
                        <li><a href="/setup/ControlProtocol/new/">Vaccination</a></li>
                        <li><a href="/setup/ControlProtocol/new/">Tracing</a></li></ul></li>
                    <li><a href="/setup/Zone/new/">Zones</a>
                        <ul><li><a href="/setup/ZoneProductionTypeEffect/new/">Zone Effects</a></li></ul></li></ul></li>
        </ul>
    </nav>
<section>
    {% block content %}

    {% endblock %}
</section>
{% endblock %}