{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags  %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.structure.min.css" />
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

    <h1 id="title"> {{ title }}</h1>

    <ul id="priorities" class="ui-sortable">
        {% for key, value in ordering.items %}
            <li class="ui-state-default ui-sortable-handle tab-list"><span class="pull-right completed"></span>{{key}}
                <ul class="sub-priorities ui-sortable">
                {% for sub_priority in value %}
                    <li class="ui-state-default ui-sortable-handle tab-list sub-priority"><span class="pull-right completed"></span>{{sub_priority}}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <form class="ajax">
        {% crispy form %}
    </form>


    <script>
        $(function() {
            $( ".ui-sortable" ).sortable();
            $( ".ui-sortable" ).disableSelection();

            $('#priorities>.ui-sortable-handle').mouseenter(function(){
                $('#priorities>.ui-sortable-handle').removeClass('active')
                $(this).addClass('active')
            });
            $(':input').hover(function(){
                $('#priorities *').removeClass('active')
            })
        });
	</script>
{% endblock %}