{% extends 'ScenarioCreator/Fragment.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags  %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.structure.min.css" />
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

    <h1 id="title">{{ title }}</h1>

    <label>Vaccination Priorities</label>
    <ul id="priorities" class="ui-sortable">
        {% for key, value in ordering.items %}
            <li class="ui-state-default ui-sortable-handle tab-list top-level-priority" title="Drag to change Vaccination Priority"><span class="pull-right completed"></span>{{key}}
                <ul class="sub-priorities ui-sortable">
                {% for sub_priority in value %}
                    <li class="ui-state-default ui-sortable-handle tab-list sub-priority" title="Drag to change Vaccination Priority"><span class="pull-right completed"></span>{{sub_priority}}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <form class="ajax" method="post" action="" id="vaccination-global-form">
        {% crispy form %}
        {% if form_errors %}
            <div id='form-errors'>{{ form_errors }}</div>
        {% endif %}
    </form>

    <script>
        function submitVaccinationGlobalForm() {
            var priorityString = "{";
            var priorityList = document.getElementById("priorities");
            var topLevelItems = priorityList.getElementsByClassName("top-level-priority");

            for (var i = 0; i < topLevelItems.length; ++i) {
                var priority = topLevelItems[i].textContent.split('\n');
                for (var v = 0; v < priority.length; ++v) {
                    priority[v] = priority[v].trim();
                }
                priority = priority.filter(function(x) { return Boolean(x); });

                priorityString += "\"" + priority[0] + "\": [";

                for (var v = 1; v < priority.length; ++v) {
                    priorityString += "\"" + priority[v] + "\", ";
                }
                priorityString = priorityString.slice(0, priorityString.length - 2);
                priorityString += "], "
            }
            priorityString = priorityString.slice(0, priorityString.length - 2);
            priorityString += "}";
            document.getElementById("id_vaccination_priority_order").value = priorityString;

            document.getElementById("vaccination-global-form").submit();
        }

        $(function() {
            $( ".ui-sortable" ).sortable({
                update: function(event, ui) {
                    $('#submit-id-submit').removeAttr('disabled').addClass('unsaved');
                }
            });
            $( ".ui-sortable" ).disableSelection();

            $('#priorities>.ui-sortable-handle').mouseenter(function(){
                $('#priorities>.ui-sortable-handle').removeClass('active')
                $(this).addClass('active')
            });
            $(':input').hover(function(){
                $('#priorities *').removeClass('active')
            })
        });
	</script>

    <div class="buttonHolder" style="position:absolute; bottom:0;">
        <button type="button" class="btn btn-default btn-cancel" id="id-cancel" onclick="window.location.reload();">Cancel</button>
        <button type="submit" class="btn btn-primary btn-save" id="submit-id-submit" disabled onclick="submitVaccinationGlobalForm();">Apply</button>
    </div>
{% endblock %}