{% if backlinks %}
    <h3>Referenced by:</h3>
    <ul>
        {% for text, link in backlinks.items %}
            <li><a load-target="#center-panel" href="{{ link }}">{{ text }}</a></li>
        {% endfor %}
    </ul>    
{% endif %}

<div class="edit-button-holder">
<!--Reverse z-index order -->
    <button type="button" class="btn btn-default btn-cancel" id="id-cancel">Cancel</button>
    {% if backlinks %}
        <button type="submit"  class="btn btn-danger delete-button" disabled>Delete Disabled</button>
    {% elif deletable %}
        <a href="#"  class="btn btn-danger delete-button" data-delete-link="{{deletable}}">Delete</a>
    {% endif %}
    <a href="{{action}}copy/" load-target="#current-function" class="btn btn-info copy-button" title="duplicate">+Variant</a>
    <button type="submit" class="btn btn-primary btn-save" id="submit-id-submit" disabled>Apply</button>
    <button type="button" class="btn btn-success edit-button">Edit</button>

</div>