{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}

{% block content %}
    <h1>{{ title }}</h1>

    <h4>Upload a Scenario File (sqlite3)</h4>
    <input type="file" name="file" file-upload="">
    <p class="help-block">You can upload a file from anywhere on your computer and it will be imported to the workspace.</p>

    <ul id="file_list">
        {% for file in db_files %}
            <li><a href="/setup/OpenScenario/{{ file }}/">{{ file }}</a>
                <a href="#" class="delete-button" data-remove-file="{{ file }}"><img src="{{ STATIC_URL }}icons/delete.png" class="icon pull-right"></a>
                <a href="/setup/Copy/{{ file }}" ><img src="{{ STATIC_URL }}icons/copy.png" class="icon pull-right"></a>
                <a href="/setup/Download/{{ file }}" ><img src="{{ STATIC_URL }}icons/download.png" class="icon pull-right"></a>
                </li>
        {% endfor %}
    </ul>

{% endblock %}