{% if backlinks %}
    <h3>Referenced by:</h3>
    <ul>
        {% for text, link in backlinks.items %}
            <li><a href="{{ link }}">{{ text }}</a></li>
        {% endfor %}
    </ul>    
{% endif %}

<div class="buttonHolder">
    {% if outputs_exist %}
        <button type="submit" class="btn btn-danger btn-save" id="submit-id-submit">Delete Results and Save changes</button>
    {% else %}
        <button type="submit" class="btn btn-primary btn-save" id="submit-id-submit">Save changes</button>
    {% endif %}
    {% if backlinks %}
        <button type="submit" disabled class="btn btn-danger">Remove References before Deleting</button>
    {% elif deletable %}
        <a href="#" data-delete-link="{{deletable}}" class="btn btn-danger">Delete</a>
    {% endif %}
</div>