{% extends 'base.html' %}
{% load db_status_tags %}

{% block main %}
    <nav id="setupMenu" class="col-md-1">
         
            <h2><a href="/setup/Scenario/1/" class="{{ "Scenario"|active:active_link}}">
                <span class="pull-right {{Scenario|completed}}"> </span>Scenario Description</a></h2>
            <h2><a href="/setup/Populations/" class="{{"Populations"|active:active_link}}">
                <span class="pull-right {{Population|completed}}"> </span>Population</a></h2>
            <h2><a href="/setup/Disease/1/" class="{{"Disease/1/"|active:active_link}}">
                <span class="pull-right {{Disease|completed}}"> </span>Disease</a>
                    <h3><a href="/setup/DiseaseProgression/" class="{{"DiseaseProgression"|active:active_link}}">
                    <span class="pull-right {{Progressions|completed}}"> </span>Disease Progression</a>
                        <h4><a href="/setup/AssignProgressions/" class="{{"AssignProgressions"|active:active_link}}">
                           <span class="pull-right {{ProgressionAssignment|completed}}"> </span>Assign Progression</a></h4> </h3>
                    <h3><a href="/setup/DiseaseSpread/" class="{{"DiseaseSpread"|active:active_link}}">
                        <span class="pull-right {{DirectSpreads|completed}}"> </span>Add Disease Spread</a>
                         <h4><a href="/setup/AssignSpreads/" class="{{"AssignSpreads"|active:active_link}}">
                            <span class="pull-right {{AssignSpreads|completed}}"> </span>Assign Disease Spread</a></h4> </h3>
                 </h2>
            <h2><a href="/setup/ControlMasterPlan/1/" class="{{"ControlMasterPlan"|active:active_link}}">
                <span class="pull-right {{ControlMasterPlan|completed}}"> </span>Controls</a>
                {% if controls_enabled %}
                 <h3><a href="/setup/VaccinationTrigger/" class="{{"VaccinationTrigger"|active:active_link}}">
                        <span class="pull-right {{VaccinationTrigger|completed}}"> </span>Vaccination Triggers</a></h3>
                 <h3><a href="/setup/ControlProtocol/" class="{{"ControlProtocol"|active:active_link}}">
                        <span class="pull-right {{Protocols|completed}}"> </span>Control Protocol</a></h3>
                    <h4><a href="/setup/AssignProtocols/" class="{{"AssignProtocols"|active:active_link}}">
                        <span class="pull-right {{ProtocolAssignments|completed}}"> </span>Assign Protocols</a></h4>
                    <h3><a href="/setup/Zone/" class="{{"Zone/"|active:active_link}}">
                        <span class="pull-right {{Zones|completed}}"> </span>Zones</a></h3>
                         <h4><a href="/setup/ZoneEffect/" class="{{"ZoneEffect/"|active:active_link}}">
                            <span class="pull-right {{ZoneEffects|completed}}"> </span>Zone Effects</a></h4>
                         <h4><a href="/setup/AssignZoneEffects/" class="{{"AssignZoneEffects"|active:active_link}}">
                            <span class="pull-right {{ZoneEffectAssignments|completed}}"> </span>Assign Effects</a></h4> 
                  {% endif %}
            </h2>
            <h2><a href="/setup/Function/" class="{{"Function"|active:active_link}}">
                <span class="pull-right {{ProbabilityFunctions|completed}}"> </span>Functions</a></h2>
            <h2><a href="/setup/OutputSettings/1/" class="{{"OutputSettings"|active:active_link}}">
                <span class="pull-right {{OutputSetting|completed}}"> </span>Output Settings</a></h2>

            <h2 id="RunSimulationIn">
                {% if outputs_computed %}
                    <a href="/results/" class="completed ">
                    View Results </a>
                {% else %}
                    {% if dry_run_passed %}
                        <a href="/?loading_url=/results/RunSimulation/" class=" {{Simulation_ready|completed}}">
                        Run Simulation <i class="glyphicon glyphicon-play"></i></a>
                    {% else %}
                        <a href="/setup/ValidateScenario/" class=" {{Simulation_ready|completed}}">
                        Validate Scenario </a>
                    {% endif %}
            {% endif %}
            </h2>
         
    </nav>
    {% block main_layout %}
        <section id="main-panel" class="layout-panel col-md-6 center-block">
            {% block content %}
    
            {% endblock %}
        </section>
    {% endblock %}

    {% include "population_panel.html" %}
  
{% endblock %}