{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}
{% load humanize %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/population.js"></script>

{% if not Population %}
    <h1 id="title">Load a Population</h1>
    <div id="load_population_widget">
        <form id="pop-upload" method="post" action="/setup/UploadPopulation/" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xml,.csv">
            <button type="submit" class="btn btn-primary">Import a Population (XML or CSV)&nbsp;<img src="{{ STATIC_URL }}icons/upload.png" class="icon"></button>
            <p class="help-block">You can import a file from anywhere on your computer and it will be added to the ADSM workspace.</p>
        </form>

        <h3>Available Population Files:</h3>
        <ul id="file_list">
            {% for file in xml_files %}
                <li><a href="/setup/OpenPopulation/{{ file }}" class="ajax-post">{{ file }}</a>
                    <a href="#" class="delete-button ajax-post" data-delete-link="/app/DeleteFile/{{ file }}"></a>
                    <a href="/app/Download/?target={{ file }}" ><img alt="Download" src="{{ STATIC_URL }}icons/download.png" class="icon pull-right"></a>
                    </li>
            {% endfor %}
        </ul>
    </div>

{% else %}
    <h1><strong>Population File:</strong> {{ population_file }} ({{ Farms|intcomma }} units) 
        <a href="#" data-delete-link="{{deletable}}" id="replace_population" class="action_link direct_link btn btn-danger">Replace Population</a>
    </h1>
    <div id="edit-mask"></div>
    <div id="population_grid_wraper">
        <form method="post" style="float:right;">
            <div id="farm_list_container" class="col-xs-8">
                <div id="farm_list">  {#So it can be targetted by CSS #}
                    {% include "ScenarioCreator/PopulationFormset.html" %}
                </div>
            </div>
        </form>
        <button id="edit_population" class="action_link btn btn-primary">Edit Population</button>

        <div id="population_map_container" class="col-xs-4">
            <img id="unit_map" src="/results/Population.png" alt="Unit Locations"/>
        </div>

        <p></p>
                   
        {% include "ScenarioCreator/PopulationFilters.html" %}
    </div>
{% endif %}
{% endblock %}