<div id="population_filters"  class="col-xs-4">   
{#    <h4 class="pull-left">Filter By: &nbsp</h4>#}
    <button id="clear_filters" class="action_link btn btn-primary">Clear Filters</button>
    <button id="refresh_map" class="action_link btn btn-primary">Refresh Map</button>
    <span>Filters</span>
    <table id="farm_filter"><tbody>
        <tr id="production_type__name">
            <td>Production Type</td>
            <td> = </td>
            <td><select name="production_type__name">
                <option value="">----------</option>
                {% for option in filter_info.select_fields.production_type__name %}
	                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
                </select></td>
        </tr>
        <tr id="initial_state">
            <td>Initial State</td>
            <td> = </td>
            <td><select name="state">
                <option value="">----------</option>
                {% for option in filter_info.select_fields.initial_state %}
	                <option value="{{ option.0 }}">{{ option.1 }}</option>
                {% endfor %}
                </select></td>
        </tr>

        <tr id="initial_size">
            <td>Initial Size</td>
            <td><strong>Min:&nbsp;</strong></td>
            <td><input step="any" type="number" min="1"></td>
            <td><strong>Max:&nbsp;</strong></td>
            <td><input step="any" type="number" min="1"></td>
        </tr>

        <tr id="longitude">
            <td>Longitude</td>
            <td><strong>Min:&nbsp;</strong></td>
            <td><input step="any" type="number"></td>
            <td><strong>Max:&nbsp;</strong></td>
            <td><input step="any" type="number"></td>
        </tr>
        <tr id="latitude">
            <td>Latitude</td>
            <td><strong>Min:&nbsp;</strong></td>
            <td><input step="any" type="number"></td>
            <td><strong>Max:&nbsp;</strong></td>
            <td><input step="any" type="number"></td>
        </tr>

    </tbody></table>

    
</div>