{% extends 'ScenarioCreator/navigationPane.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/population.js"></script>

{% if not Population %}
    <h1 id="title">Load a Population</h1>
    <div id="load_population_widget">
        <form id="file-upload" method="post" action="/setup/UploadPopulation/" enctype="multipart/form-data">
            <input type="file" name="file" accept="application/xml">
            <button type="submit" class="btn btn-primary">Upload a Population &nbsp;<img src="{{ STATIC_URL }}icons/upload.png" class="icon"></button>
            <p class="help-block">You can upload a file from anywhere on your computer and it will be imported to the ADSM workspace.</p>
        </form>

        <h3>Available Population Files:</h3>
        <ul id="file_list">
            {% for file in xml_files %}
                <li><a href="/setup/UploadPopulation/" class="ajax-post" data-filename="{{ file }}">{{ file }}</a>
                    <a href="#" class="delete-button ajax-post" data-delete-link="/app/DeleteFile/{{ file }}/"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete" class="icon pull-right"></a>
                    <a href="/app/Download/{{ file }}/" ><img alt="Download" src="{{ STATIC_URL }}icons/download.png" class="icon pull-right"></a>
                    </li>
            {% endfor %}
        </ul>
    </div>

{% else %}
    <div id="edit-mask"></div>
    <h1>Current {{"Units"|wiki:"unit"}}:</h1>
    <img src="/results/Population.png" alt="Unit Locations"/>
    <p></p>
    <div id="population_grid_wraper">
        
        <form method="post">
            <div id="farm_list_container">
            <div id="farm_list">  {#So it can be targetted by CSS #}
                {% include "ScenarioCreator/PopulationFormset.html" %}
            </div></div>
            {% include "ScenarioCreator/EditButtons.html" %}
        </form>

        {% include "ScenarioCreator/PopulationFilters.html" %}
        
    </div>
{% endif %}
{% endblock %}