{% extends 'ScenarioCreator/Fragment2.html' %}
{% load floppyforms %}
{% load crispy_forms_tags  %}
{% load db_status_tags %}

{% block content %}
{#<h1 id="title">#}
{#    {% if model_link %}#}
{#        <a href="{{ model_link|parent_link }}">List {{ pretty_name }}s</a> &nbsp;> &nbsp;#}
{#    {% endif %}#}
{#    {{ title }}</h1>#}


<form method="post" enctype="multipart/form-data">
    {% crispy form %}
    <label for="file">Or Import Points from File... &nbsp</label>    
    <input type="file" id="file" name="file" accept="text/csv">

    {% include "ScenarioCreator/EmbeddedFormset.html" %}
    {% include "ScenarioCreator/EditButtons.html" %}
</form>
{#    {% crispy formset helper %}#}
{% endblock %}

