{#{% extends 'ScenarioCreator/3Panels.html' %}#}
{% load floppyforms %}
{% load crispy_forms_tags  %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for category in categories %}
        <div class="panel-group" id="accordion-{{forloop.counter}}">
            <div class="model-banner">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{forloop.counter}}" href="#sub-model{{forloop.counter}}">{{ category.name }}
                <span class="pull-right">
                    <img class="icon" src="{{ STATIC_URL }}icons/collapse.png" alt="collapse" />
                </span></a>
            </div>
            <div id="sub-model{{forloop.counter}}" class="panel-collapse collapse in" style="height: auto;">
                <ul id="file_list">
                    
                    {% for model in category.models %}
                        {% for entry in model.entries %}
                            <li><a href="/setup/{{model.class}}/{{entry.pk}}/" load-target="#center-panel">{{ entry }}</a>
                                {% if not 'Function' in  model.name %}
                                    <a href="#" class="delete-button pull-right" title="delete" data-delete-link="/setup/{{model.class}}/{{entry.pk}}/delete/"></a>
                                {% endif %}
                                <a href="/setup/{{model.class}}/{{entry.pk}}/copy/" load-target="#center-panel" class="copy-button pull-right" title="duplicate"></a>
                                </li>
                        {% endfor %}
                    {% endfor %}
                    {% for model in category.models %}
                        <li class="addNew"><a href="/setup/{{model.class}}/new/" load-target="#center-panel"><i> + New {{ model.name }}</i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <p></p>

    <p class="help-text">{{ help_text }}</p>
    <script>
        $(document).on('click', '#center-panel .btn-save', function () {
            setTimeout(reload_left_panel, 500);
        })
    </script>
{% endblock %}